<div class='row'>
  <%= image_tag(@team.image_url) %>
</div>
<div class='row'>
  <h1><%= @team.name.upcase %></h1>
</div>
<div class='row'>
  <%= @team.address.street %><br>
  <%= @team.address.city_state %><br>
  <%= link_to 'Visit Website', @team.website if @team.website %>
</div>
