<%= form_for(@team, url: add_host_team_path, method: :put, format: :js, remote: true) do |f| %>
  <br>
  <%= select_tag 'user_id', options_from_collection_for_select(User.all, 'id', 'username'), include_blank: true, prompt: 'select a user endorse', class: 'select2 form-control' %><br>
  <%= f.submit 'Endorse', class: 'btn btn-success btn-sm' %>
  <br>
  <div id='team-hosts-table'>
    <table class='table table-hover borderless'>
      <% if @team.hosts.any? %>
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Location</th>
            <th>Remove</th>
          </tr>
        </thead>
      <% else %>
        <h4>No hosts endorsed for this team</h4>
      <% end %>
      <tbody>
        <% @team.hosts.each do |host| %>
          <tr>
            <td><%= image_tag(host.image_url.thumb) unless host.image_url.blank? %></td>
            <td><%= host.username %></td>
            <td><%= host.address.city_state %></td>
            <td>
              <%= link_to(remove_host_team_path({user_id: host}), remote: true, method: :put) do%>
                <i class='fa fa-times fa-2x' style='color: red;'></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
