<%= form_for(@team, url: add_admin_team_path, method: :put, format: :js, remote: true) do |f| %>
  <%= select_tag 'user_id', options_from_collection_for_select(User.all, 'id', 'username'), include_blank: true, prompt: 'select a user to add as team admin', class: 'select2', style: 'width: 300px;' %>
  <%= f.submit 'Add Admin', class: 'btn btn-success btn-sm' %>
  <br>
  <div id='team-admin-table'>
    <table class='table table-hover borderless'>
      <% if @team.admins.any? %>
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Location</th>
            <th>Remove</th>
          </tr>
        </thead>
      <% else %>
        <h4>No admins assigned for this team</h4>
      <% end %>
      <tbody>
        <% @team.admins.each do |admin| %>
          <tr>
            <td><%= image_tag(admin.image_url, size: '50') unless admin.image_url.blank? %></td>
            <td><%= admin.username %></td>
            <td><%= admin.address.city_state %></td>
            <td>
              <%= link_to(remove_admin_team_path({user_id: admin}), remote: true, method: :put) do%>
                <i class='fa fa-times fa-2x' style='color: red;'></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
