<table class='table table-hover borderless'>
  <tbody>
    <% teams_by_sport.each do |sport_name, teams| %>
      <% unless teams.empty? %>
        <tr>
          <td>
            <h3 id="<%= sport_name.underscore if all %>"><a href="#Top"><span class="glyphicon-class glyphicon glyphicon-chevron-up"></span></a><%= sport_name %></h3>
          </td>
        </tr>
        <% teams.each do |team| %>
          <tr>
            <td><%= image_tag(team.image_url, size: '80') %></td>
            <td><h4><%= link_to(team.name, team) %></h4></td>
            <td>
              <%= render partial: 'subscribe_star', locals: { team: team } %>
            </td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
