<% favorites = (current_user.try(:followed_teams) || []) %>
<% managed = (current_user.try(:managed_teams) || []) %>
<% c = 1 %>
<div class="panel-group" id="<%= acc %>" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <% @teams_by_sport.each do |sport_name, teams| %>
      <% if tab == 'followed' %>
        <div class="panel-heading <%= sport_name %> followed <%= "hidden" if !favorites.map{|f| f.sport.name}.include?(sport_name) %>" role="tab" id="headingOne">
        <!-- <tr class='<%= sport_name %> followed <%= "hidden" if !favorites.map{|f| f.sport.name}.include?(sport_name) %>'> -->
      <% elsif tab=='managed' %>
        <div class="panel-heading <%= sport_name %> <%= "hidden" if !managed.map{|f| f.sport.name}.include?(sport_name) %>" role="tab" id="headingOne">

        <!-- <tr class='<%= sport_name %> <%= "hidden" if !managed.map{|f| f.sport.name}.include?(sport_name) %>'> -->
      <% else %>
        <div class="panel-heading <%= sport_name %> <%= sport_name == 'NCAA-BASKETBALL' ? 'hidden' : ''  %>" role="tab" id="headingOne">

        <!-- <tr class='<%= sport_name %>'> -->
      <% end %>
        <!-- <td>
          <h3 id="<%= sport_name.underscore if all %>"><a href="#Top"><span class="glyphicon-class glyphicon glyphicon-chevron-up"></span></a><%= sport_name %></h3>
        </td> -->
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#<%= acc %>" href="#<%= acc %>collapse<%= c %>" aria-expanded="true" aria-controls="<%= acc %>collapse<%= c %>">
             <div class="col-md-12 row">
                <div class=" col-md-offset-1 col-md-2 col-sm-4 col-xs-12">
                  <div class="image-holder">
                    <%= image_tag(teams.first.image_url,class: "img-responsive") %>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 text-center">
                   <h3><%= sport_name %></h3>
                </div>
             </div>
          </a>
        </h4>
      </div>
      <div id="<%= acc %>collapse<%= c %>" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <% teams.each do |team| %>
            <% if tab=='followed' %>
              <div class="<%= team.id %> followed <%= "hidden" if !favorites.map(&:id).include?(team.id) %> col-md-offset-1 col-md-4 col-sm-6 col-xs-12">
              <!-- <tr class='<%= team.id %> followed <%= "hidden" if !favorites.map(&:id).include?(team.id) %>'> -->
            <% elsif tab=='managed' %>
              <div class="<%= team.id %> <%= "hidden" if !managed.map(&:id).include?(team.id) %> col-md-offset-1 col-md-4 col-sm-6 col-xs-12">

              <!-- <tr class='<%= team.id %> <%= "hidden" if !managed.map(&:id).include?(team.id) %>'> -->
            <% else %>
              <div class="<%= team.id %> col-md-offset-1 col-md-4 col-sm-6 col-xs-12">

              <!-- <tr class='<%= team.id %>'> -->
            <% end %>
              <div>
              
              <div class="image-holder" style="float: left; width: 50px;">
                <%= asset_path(team.team_icon) %>
              </div>
                <h4><%= link_to(team.name, team) %></h4>
                <div data-tab="<%= tab %>" class="star">
                  <% if user_signed_in? %>

                    <!-- <i class="fa subscribe-star <%#= favorites.include?(team) ? 'fa-star' : 'fa-star-o' %> team-<%= team.id %>" data-team-id='<%= team.id %>' data-team-name='<%= team.name %>' data-sport-name='<%= sport_name %>'></i> -->
                    <a class="cursor subscribe-star <%= favorites.include?(team) ? 'fastar' : 'fastaro' %> team-<%= team.id %>" data-team-id='<%= team.id %>' data-team-name='<%= team.name %>' data-sport-name='<%= sport_name %>'><%= favorites.include?(team) ? 'Un-favorite' : 'Favorite' %></a>
                  
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <% c = c + 1 %>
    <% end %>
  </div>
</div>