<% favorites = (current_user.try(:followed_teams) || []) %>
<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="sport_header_overlay">
      <div class="sport_caption pull-right">
        <img src='<%= asset_path 'white_foam_finger_icon.png' %>'/>
        <span>Favorite Teams</span>
      </div>
    </div>
    <div class="sport_header row">
    </div>
    <div class="banner row ptb15">
      <div class="input-area row col-md-offset-1 col-md-11">
        <div class="right-inner-addon ">
          <input type="text" id = "searchboxh" class="form-control" placeholder="">
          <button class="btn btn-default" type="button" id = "searchButtonh"><i class="fa fa-search fa-6"></i></button>
        </div>
      </div>
    </div>
    <div class="main-area">
      <div class="row">
        <div id='notice'>
          <%= render :partial => 'layouts/flash' , :locals => { :flash => flash } %>
        </div>
        <div class="follow">
            <div class="col-md-12 text-center footer">
                <strong>
                    <%= link_to 'See All Teams', teams_path %>
                </strong>
            </div>
					<div class="panel-body">
					  <% @teams.each do |team| %>
					  <table class="table">
					  	<tbody>
					  		<tr id = "<%=team.id%>">
					  			<td>
					    			<span>
                      <div class="image-holder" style="width: 50px; background: url(<%= asset_path "#{team.team_icon}" %>); height: 50px; background-size: cover; margin-right: 10px; top: 5px; position: relative; display: inline-block;">
                      </div>

                      <h4 style="float:none; display: inline-block;"><%= link_to(team.name, team) %></h4>
                    </span>
					  			</td>
					  			<td > 
					  				<a class="cursor subscribe-star <%= favorites.include?(team) ? 'fastar' : 'fastaro' %> team-<%= team.id %>" data-team-id='<%= team.id %>' data-team-name='<%= team.name %>'>
                      <% if favorites.include?(team) %>
                        <img src='<%= asset_path 'like.jpg' %>' title="unfavorite team" alt="unfavorite team" class="img-responsive" style="width: 40px;"/>
                      <% else %>
                        <img src='<%= asset_path 'dislike.jpg' %>' title="favorite team" alt="favorite team" class="img-responsive" style="width: 40px;"/>
                      <% end %>
                    <%#= favorites.include?(team) ? 'Un-favorite' : 'Favorite' %></a>
					  			</td>
					  		</tr>
					  	</tbody>
					  </table>
					  <% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$('.subscribe-star').on('click', function() {
    var teamId = $(this).data('team-id');
    var teamName = $(this).data('team-name');
    var subscribed = $(this).hasClass('fastaro');
    var url = '';
    if (subscribed) {
      url = "/teams/" + teamId + "/subscribe";
    } else {
      url = "/teams/" + teamId + "/unsubscribe";
    };
    // var div = $(this).closest('div').data('tab');
    var teamIdClass = '.team-' + teamId + '';
    $.ajax({
      url: url,
      type: 'PUT',
      data: {'id': teamId,
             'ajax': true},
      success: function() {

        if ($(teamIdClass).hasClass('fastar')) {
          var teamRow = $('#' + teamId);
          $(teamIdClass).removeClass('fastar');
          $(teamIdClass).addClass('fastaro');
          $(teamIdClass).text('Favorite');
          teamRow.addClass('hidden');
          displayMessage("The " + teamName + " are no longer a favorite")
        } else {
          var teamRow = $('div.followed.' + teamId);
          var sportRow = $('div.followed.' + sportName);
          sportRow.removeClass('hidden');
          teamRow.removeClass('hidden');
          $(teamIdClass).removeClass('fastaro');
          $(teamIdClass).addClass('fastar');
          $(teamIdClass).text('Un-favorite');     
          displayMessage("The " + teamName + " are now a favorite")
        };
      },
      error: function(){
        //do nothing
      }
    })
  });
</script>