<ul class='nav nav-tabs' role='tablist'>

<li class="tabs-title">Teams</li>
<li class="<%= @has_favorites ? 'active' : '' %>"><a href="#favorites" role='tab' data-toggle='tab'>Favorites</a></li>
<li class="<%= @has_favorites ? '' : 'active' %>"> <a href="#all" role='tab' data-toggle='tab'>All</a></li>
  <% if current_user.try(:managed_teams).try(:any?) %>

    <li><a href="#managed" role='tab' data-toggle='tab'>Managed</a></li>
  <% end %>
</ul>

<div class='tab-content'>
  <div class='tab-pane <%= "active" if @has_favorites %>' id="favorites">
    <%= render partial: 'teams_table_followed' %>
  </div>

  <div class='tab-pane <%= "active" if !@has_favorites %>' id="all">
    <%= render partial: 'teams_table_all' %>
  </div>

  <div class='tab-pane' id="managed">
    <%= render partial: 'teams_table_managed' %>
  </div>
</div>
