<style type="text/css">
body {overflow-x: hidden}
  .team_header{
    <% if @team.banner.present? %>
      background: url(<%= asset_path "#{@team.banner_url}" %>) no-repeat center center;
      background-size: 100% 100%;
      height: 468px;
    <% end %>
  }
</style>
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="r companylisting_header row">
        <div class="col-md-12 team_header">
          <!--button type="button" title="Upload Image" data-toggle="modal" data-target="#wallModal" class="btn btn-green"><i class="fa fa-upload"></i></button-->
          <div class='row'>
          <% if @team.banner.present? %>
         <% else %>
            <% if @team.address.latitude.present? && @team.address.longitude.present? %>
                <div id="map"></div>
            <% end 
          end %>
          </div>
        </div>
      </div>
      <div class="main-area team_show_page" data-team-id='<%= @team.id %>'>


        <div class="row">
          <div class="follow companylisting">

            <div class="col-lg-6 col-md-12 col-sm-12">

              <div class="col-lg-12 col-md-12 col-sm-12">
                  <h2><%= "#{@team.name}" %></h2>
                  <ul class="list-unstyled address">
                    <li><%= @team.address.street %></li>
                    <li><%= @team.address.city_state %></li>
                    <li><%= link_to 'Visit Website', @team.website if @team.website %></li>
                  </ul>
              </div>


              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="parties-nearby">
                       
                </div>
              </div>

            </div>

            <div class="col-lg-6 col-md-12 col-sm-12 team-twitter">
              <h2>
                <span class="fa-stack fa-1x">
                  <i class="fa fa-circle fa-stack-2x icon-background"></i>
                  <i class="fa fa-twitter fa-stack-1x"></i>
                </span>
                Keep Up With Us</h2>
                <% if @team.twitter_name.present? && @team.twitter_widget_id.present? %>
                  <a class="twitter-timeline" href=<%= "https://twitter.com/#{@team.twitter_name}" %> data-widget-id=<%= "#{@team.twitter_widget_id}"%>><%= "Tweets by @#{@team.twitter_name}" %></a>
                <% end %>
            </div>




            </div> <!-- end companylisting -->
          </div>

            <%#= link_to 'Sport', sport_path(@team.sport) %>
            <%# if current_user.present? && current_user.can?(:edit, @team) %>
              | <%#= link_to 'Edit', edit_team_path(@team) %>
            <%# end %>
          </div>
        </div>
      </div>
    </div>
    
<!--
<div class=" ch_location myparties modal fade" id="wallModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" id = "modalls">
        <h2>Upload Wall Photo</h2>
        <%#= form_for(@team) do |f| %>
        <label>Banner Image</label>
        <%#= f.file_field :banner, :required => true, :id => :banner_upload_field %>
        <%#= f.submit "Upload Banner" ,class: "btn btn-green pull-right"%>
        <button type="button" class="btn btn-green pull-right" data-dismiss="modal" style="margin-right: 10px" >Close</button>
        <%# end %>
      </div>
    </div>
  </div>
</div>
-->

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @map_markers.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(11)
  });
</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>

<script type="text/javascript">

  $(document).ready(function() {

        getCard();
        
  });

  $(".changeLoc").click(function() {
       $(".parties-nearby .card").remove();
       getCard();
  });


  function getCard() {

    var overrideAddress = sessionStorage.getItem('overrideAddress') || false;
    var teamId = $('.team_show_page').attr("data-team-id");

    var data = {
                    "overrideAddress": overrideAddress,
                    'ajax': true
                  };

    $.ajax({
          type: 'POST',
          url: "/teams/" + teamId + "/parties_in_area",
          dataType: "json",
          cache: false,
          data : data,
          success: function(response) {

            var cards = [];

            if(response && response.parties_near_me && response.parties_near_me.length > 0) {

                  cards = response.parties_near_me;

                  $(".parties-nearby").append("<h3>Upcoming Watch Parties</h3>");

                  for(var i=0; i < cards.length; i++) {
                      var card = buildCard(cards[i]);
                      $(".parties-nearby").append(card);
                  }

              }


              if (cards.length==0)
                $(".parties-nearby").append("<h2>No upcoming watch parties listed</h2>");
              
                      
          },
          error: function() {
              $(".parties-nearby").append("<h2>No upcoming watch parties listed</h2>");
          }
        });

  }


  function buildCard(party) {

    var card = "<a href='parties/" + (party.friendly_url || '') + "'><div class='card' style='margin: 1%;'>" +

              "<div class='padding'>" +
                "<div class='holder'>" +
                    "<img alt='Placeholder' class='img-responsive center' src='"+ (party.image_url && party.image_url.thumb && party.image_url.thumb.url|| "") +"'>" +
                "</div>" +
      
                "<div class='caption'>" +
                    "<h4 class='title'>"+ (party.name || "") +"</h4>" +
                        
                    "<ul class='list-inline '>" +
                        "<li class='time'>"+ (party.scheduled_for || "") +"</li>" +
                        "<li class='location'>Austin, TX 78704</li>" +
                    "</ul>" +
                "</div>" +

                "<div class='party_desc'>" + 
                      "<p class='description'>"+ (party.description || "") +"</p>" +
                "</div>" +
              "</div>" +

              "<div class='bottom'>" +
                      "<div class='float-left'>" +
              "</div>" +
              "</div></div></a>";


    return card;

  }

</script>
