<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Information:</strong>
  <%= @team.information %>
</p>

<p>
  <strong>Information:</strong>
  <%= @team.information %>
</p>

<p>
  <strong>Image url:</strong>
  <%= image_tag(@team.image_url) unless @team.image_url.blank? %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @team.sport.name %>
</p>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
