<% c = 0 %>
<% @accepted_parties.each do |accepted| %>

<% if accepted.organizer_id != current_user.id %>
    <% if c % 3 == 0 %>
      <div class=" ">
    <% end %>
    <% c = c + 1 %>
    <div class="col-sm-6 col-md-4 add_rsvp_party">  
      <div class="card">

        <div class="padding">

          <div class="caption">
            <%= link_to accepted do %>
              <h3> <%= accepted.name rescue "" %> </h3>
            <% end %>
            <br/>
            <%= accepted.sponsor if accepted.present? %>
            <ul class="list-inline ">
              <li><%= accepted.scheduled_for.strftime("%A, %d %b %Y %l:%M %p") rescue "" %></li>
              <li><%= accepted.venue.address.city_state rescue "" %></li>
            </ul>
          </div> <!-- END caption -->

          <% if accepted.present?  %>
            <% if !accepted.description.nil? %>
              <div class="party_desc">
                <p><%= accepted.description.truncate(40) rescue "" %></p>
              </div>
            <% end %>
          <% end %>

          </div> <!-- END padding -->

          <div class="bottom">

            <div class="inline-block">
              <% if accepted %>
                <%= render partial: 'social_media', locals: {party: accepted} %>
              <% end %>
            </div>

          </div>
      </div>
    </div>
    <% if c % 3 == 0 || @accepted_parties.count == c %>
      </div>
    <% end %>

  <% end %>
<% end %>
