<!-- Include the ZooZ script that contains the zoozStartCheckout() function -->
<script src="https://app.zooz.com/mobile/js/zooz-ext-web.js"></script>


<script type="text/javascript">
  $(document).ready(function(){
    $('.checkout').click(function() {
      var party_package_id = $(this).data('partyPackageId');
      $.ajax({
        url: "/zooz_transaction/" + party_package_id + "/openTrx", // A call to server side to initiate the payment process
          dataType: 'html',
          cache: false,
          success: function(response) {
            var data = JSON.parse(response);
            var path = window.location.protocol + "//" + window.location.host ;
            zoozStartCheckout({
              token : data.token, // Session token recieved from server
              uniqueId : '<%= ENV['ZOOZ_UNIQUE_ID'] %>', // unique ID as registered in the developer portal
              isSandbox : <%= ENV['ZOOZ_SANDBOX'] == "true" ? true : false %>, // true = Sandbox environment
              returnUrl : path + "/zooz_transaction/" + party_package_id + "", // return page URL
              cancelUrl : path + "/zooz_transaction/" + party_package_id + "" // cancel page URL
            });
          }
        });
      });
  });
</script>
<hr>
<h3>Available Packages</h3>
<br>
<% if @party %>
    <% if @flag %>
      <table class="available-packages-table">
        <% @party.party_packages.limit(3).each do |party_package| %>
          <tr>
            <td class="bottom-margined">
              <span class="parties-package-image">
                <%= image_tag(party_package.package.image_url.thumb) unless party_package.package.nil? %>
              </span>
            </td>
            <td class="bottom-margined">
              <span class="parties-package-name">
                <%= party_package.package.name %>
              </span>
            </td>
            <td class="bottom-margined">
              <span class="parties-package-price">
                 <%= number_to_currency(party_package.package.price)%>
              </span>
            </td>
          </tr>
          <tr  class="row-underlined">
            <td ><br/><br/></td>
            <td ><%= link_to "More Information", party_package.package%></td>
            <td ><%= link_to "Purchase", "#", class: 'checkout', data: {party_package_id: party_package.id} %></td>
          </tr>
        <% end %>
        <% if @party.party_packages.length > 3 %>
          <%= link_to "View More", party_path(@party), class: "pull-right" %>
        <% end %>
      </table>
    <%else%>
      <% @party.party_packages.each do |party_package| %>
        <div class="col-md-6 text-center mtb">
          <div>
            <div class="bottom-margined">
              <span class="parties-package-image">
                <%= image_tag(party_package.package.image_url.thumb) unless party_package.package.nil? %>
              </span>
            </div>
            <div class="bottom-margined">
              <span class="parties-package-name">
                <%= party_package.package.name %>
              </span>
            </div>
            <div class="bottom-margined">
              <span class="parties-package-price">
                 <%= number_to_currency(party_package.package.price)%>
              </span>
            </div>
          </div>
          <div class="row-underlined">
            <div class="col-md-6"><%= link_to "More Info", package_path({id: party_package.package.id ,  party_package: party_package.id}) , class: "btn btn-green"%></div>
            <div class="col-md-6"><%= link_to "Purchase", "#", class: 'checkout btn btn-green', data: {party_package_id: party_package.id} %></div>
            <%= party_package.id %>
          </div>
        </div>
      <% end %>
    <% end %>
<% end %>