
<%= link_to party, class:"a-none" do %>
  <div class="cancle_icon">
    <%#= link_to '<i class="fa fa-times"></i>'.html_safe, party, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% if party.verified? %>
        <img src='<%= asset_path 'placeholder.png' %>' title="party verified" alt="verified" class="img-responsive center"/>
    <% end %>
  </div>

  <div class="holder">

    <% if !party.image_url.blank? %>
      <%= image_tag(party.image_url, class: "img-responsive center", title: "party") %>
    <% else %>
      <img src='<%= asset_path 'placeholder.png' %>' title="party" alt="party" class="img-responsive center"/>
    <% end %>
  </div>
  
  <div class="caption">
    <h3> <%= party.name rescue "" %> </h3>
    <br/>
    <%= party.sponsor if party.present? %>


    <ul class="list-inline ">
      <li><%= party.scheduled_for.strftime("%A, %d %b %Y %l:%M %p") rescue "" %></li>
      <li><%= party.venue.address.city_state rescue "" %></li>
    </ul>
  </div> <!-- END caption -->

  <% if party.present?  %>
    <% if !party.description.nil? %>
      <div class="party_desc">
        <p><%= party.description.truncate(70) rescue "" %></p>
      </div>
    <% end %>
  <% end %>
<% end %>