

  <!--div class="cancle_icon">
    <%#= link_to '<i class="fa fa-times"></i>'.html_safe, party, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div-->

  <div class="holder">
    <%= image_tag(party.image_url, class: "img-responsive center") unless party.image_url.nil? %>
  </div>
  
  <div class="caption">
    <%= link_to party do %>
      <h3> <%= party.name rescue "" %> </h3>
    <% end %>
    <br/>
    <%= party.sponsor if party.present? %>


    <ul class="list-inline ">
      <li><%= party.scheduled_for.strftime("%A, %d %b %Y %l:%M %p") rescue "" %></li>
      <li><%= party.venue.address.city_state rescue "" %></li>
    </ul>
  </div> <!-- END caption -->

  <% if party.present?  %>
    <% if !party.description.nil? %>
      <div class="party_desc">
        <p><%= party.description.truncate(40) rescue "" %></p>
      </div>
    <% end %>
  <% end %>