<% packages.each do |package| %>

        <div class="card-package" style="margin-top: 2%; margin-bottom: 5%; margin-left: 0; margin-right: 0;">

            <div class="padding">

                  <div class="holder">

                    <% if !package.image_url.nil? %>

                      <%= image_tag(package.image_url.thumb, class: "img-responsive center") %>

                    <% else %>

                      <img alt="Placeholder" class="img-responsive center" src='<%= asset_path 'beer-flat.png' %>'/>

                    <% end %>
                  </div>
                  
                  <div class="caption">
                      <h3> <%= package.name %> </h3>

                      <br/>
                    
                    <p class="description">
                      <%= package.description.truncate(40) rescue "" %>
                    </p>
                  </div> <!-- END caption -->
            </div> <!-- END padding -->

            <div class="bottom">
                
              <% if reservations_include?(party, user) || !(current_user.admin? || current_user.has_role?(:venue_manager, :any) || current_user.has_role?(:manager, :any)) %>
                  <div class="inline-block" style="bottom: 0; position: absolute; padding: 15px;">
                      <% voucher = voucher_redeem_include(party, user, package) %>
                      
                      <% if voucher.nil? %>
                        <a href="#" class="btn btn-green btn-default" onclick="return false;">Redeemed</a>
                      <% else %>
                        <%= link_to "Redeem", redeem_voucher_path(voucher.id), class: "btn btn-green btn-default",  data: { confirm: 'Are you sure you want to mark this voucher redeemed? It cannot be undone!' } %>
                      <% end %>
                  </div>
              <% end %>

              <span style="bottom: 0;
                    position: absolute; right: 0;
                    padding: 20px;">$<%= package.price %></span>

            </div> <!-- END Bottom -->
        </div>

<% end %>