<% packages.each do |package| %>

        <div class="card-package" style="margin-top: 2%; margin-bottom: 5%; margin-left: 0; margin-right: 0;">

            <div class="padding">

                  <div class="holder">

                    <% if !package.image_url.nil? %>

                      <%= image_tag(package.image_url.thumb, class: "img-responsive center") %>

                    <% else %>

                      <img alt="Placeholder" class="img-responsive center" src='<%= asset_path 'beer-flat.png' %>'/>

                    <% end %>

                    <h3> <%= package.name %> </h3>

                  </div>
                  
                  <div class="caption">
                    <p class="description">
                      <%= package.description.truncate(200) rescue "" %>
                    </p>
                  </div> <!-- END caption -->
            </div> <!-- END padding -->

            <div class="bottom">
                
              <div class="inline-block" style="padding: 15px;">
              <% if reservations_include?(party, user) && !(current_user.admin? || current_user.has_role?(:venue_manager, party.venue) || current_user.has_role?(:manager, party.venue)) %>
                  
                      <% myvoucher = my_voucher_redeem_include(party, user, package) %>

                      <% if myvoucher.any? && !myvoucher.first.redeemed_at.nil? %>

                        <a href="#" class="btn btn-green btn-default" onclick="return false;">Redeemed</a>

                      <% elsif myvoucher.any? && myvoucher.first.redeemed_at.nil? %>

                        <%= link_to "Redeem", redeem_voucher_path(myvoucher.first.id), class: "btn btn-green btn-default",  data: { confirm: 'Are you sure you want to mark this voucher redeemed? It cannot be undone!' } %>
                      
                      <% else %>
                      
                        <% general_voucher = general_voucher_redeem_include(party, package) %>

                        <% if general_voucher.any? %>
                          <%= link_to "Redeem", redeem_voucher_path(general_voucher.first.id), class: "btn btn-green btn-default",  data: { confirm: 'Are you sure you want to mark this voucher redeemed? It cannot be undone!' } %>
                        <% end %>
                      <% end %>
                  
              <% end %>
              </div>
              <span class="price inline-block">$<%= '%.2f' % package.price %></span>

            </div> <!-- END Bottom -->
        </div>

<% end %>