<% @created_parties.each do |party| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="cancle_icon">
      <%= link_to '<i class="fa fa-times"></i>'.html_safe, party, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
      <div class="holder">
        <%= image_tag(party.team.image_url, class: "img-responsive") unless party.team.nil? %>
      </div>
      <div class="caption">
        <%= link_to party do %>
          <h3> <%= party.name %> </h3>
        <% end %>
        <ul class="list-inline">
          <li><%= party.scheduled_for.strftime("%A, %d %b %Y %l:%M %p") %></li>
          <li><%= party.venue.address.city_state %></li>
        </ul>
        <p><%= party.description %></p>
        <% if reservations_include?(party, current_user) %>
          <%= link_to "unRSVP", party_rsvp_path(party), class: "prt_rsvp" %>
        <% else %>
          <%= link_to "RSVP", party_rsvp_path(party), class: "prt_rsvp" %>
        <% end %>
        <span class="prt_rsvp"> | </span>
        <%= link_to "View Party Packages", party, class: "prt_rsvp" %>
      </div>
    </div>
  </div>
  <% @c = @c + 1 %>
  <% if @c % 3 == 0 %>
    <div class="clearfix"></div>
  <% end %>
<% end %>

