<% current_user.parties.each do |party| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="cancle_icon">
        <i class="fa fa-times"></i>
      </div>
      <%= image_tag(party.team.image_url, class: "img-responsive") unless party.team.nil? %>
      <div class="caption">
        <%= link_to party do %>
          <h3> <%= party.name %> </h3>
        <% end %>
        <ul class="list-inline">
          <li><a href="#"><%= party.scheduled_for.strftime("%A, %d %b %Y %l:%M %p") %></a></li>
          <li><a href="#"><%= party.venue.address.city_state %></a></li>
        </ul>
        <p><%= party.description %></p>
      </div>
    </div>
  </div>
<% end %>

