<% c = 0 %>
<% if @created_parties.present? %>
  <% @created_parties.try(:each) do |party| %>
    <% if c % 3 == 0 %>
      <div class=" ">
    <% end %>
    <% c = c + 1 %>
    <div class="col-sm-6 col-md-4" style="height: 430px; padding-top: 20px;">  
      <div class="card">
        <div class="cancle_icon">
        <%= link_to '<i class="fa fa-times"></i>'.html_safe, party, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
        <div class="holder">
          <%= image_tag(party.image_url, class: "img-responsive center") unless party.image_url.nil? %>
        </div>
        <div class="caption">
          <%= link_to party do %>
            <h3> <%= party.name %></h3><span><%= party.team.name %></span>
          <% end %>
          <!-- /////////////////////////check for verification///////////////// -->
          <% if party.verified %>
            <div class="verifie_caption" id="party-verified-<%= party.id %>">
          <% else %>
            <div class="verifie_caption" id="party-verified-<%= party.id %>" style="display:none">    
          <% end %>
                <div class="image-holder">
                  <img alt="No image" class="img-responsive" src="/assets/vendor/verified_logo.png" >
                </div>
              <strong class="title" style="font-size:9px;"><em>Verified</em></strong>
            </div>
          <!-- /////////////////////////////////end//////////////////////////// -->
          <br>
          <%= party.sponsor %>

          <ul class="list-inline">
            <li><%= party.scheduled_for.strftime("%A, %d %b %Y %l:%M %p") %></li>
            <li><%= party.venue.address.city_state %></li>
          </ul>
          <% if !party.description.nil? %>
            <div class="party_desc"><p><%= party.description.truncate(40)  %></p></div>
          <% end %>
          <%# if reservations_include?(party, current_user) %>
            <%= link_to "unRSVP", party_rsvp_path(party), class: "prt_rsvp #{reservations_include?(party, current_user) ? '' : 'hidden_p'}" , id: "unrsvp#{party.id}" %>
          <%# else %>
            <!-- <a href="#"  data-toggle="modal" data-target="#myModal" >RSVP</a> -->
            <%= link_to "RSVP", party_rsvp_path({id: party.id , flag: 'modall'}), id: "rsvp#{party.id}", class: "prt_rsvp #{reservations_include?(party, current_user) ? 'hidden_p' : ''}", remote: true,"data-toggle" => "modal", 'data-target' => '#myModal' %>
          <%# end %>
          <span class="prt_rsvp"> | </span>
          <%= link_to "View Party Packages", party, class: "prt_rsvp" %>
          <% if current_user.admin? || current_user.has_role?(:venue_manager, party.venue) %>
            <span class="prt_rsvp"> | </span>
            <%= link_to "Create Package", new_venue_packages_path({venue_id: party.venue_id, party_id: party.id}), class: "prt_rsvp" %>
          <% end %>
          <span class="prt_rsvp"> | </span>
          <%= link_to "Edit", edit_party_path(party), class: "prt_rsvp" %>
          <% if current_user.id == 36 ||  current_user.id == 1 %>
            <span class="prt_rsvp"> | </span>
            <span id="party-<%= party.id %>">
              <% if party.verified? %>
                <%= link_to( "Verified", unverify_party_path(party), class: "prt_rsvp", remote: true, method: :put)%>
              <% else %>
                <%= link_to("Verify", verify_party_path(party), class: "prt_rsvp", remote: true, method: :put)%>
              <% end %>
            </span>
          <% end %>
        </div>
        <% if party.present? %>
          <%= render partial: 'social_media', locals: {party: party} %>
        <% end %>
      </div>
    </div>
    <% if c % 3 == 0 || @created_parties.count == c %>
      </div>
    <% end %>
<% end %>
<% else %>
  <div> <h3>No Party Found..!!!</h3> </div>
<% end %>

<div class=" ch_location myparties modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" id = "modall">
        <h2>RSVP </h2>
        <%= render "available_packages" %>
      <!-- <form>
          <div class="form-group">
            <label for="exampleInputName1">Name</label>
            <input type="text" class="form-control" id="exampleInputName1">
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleInputName2">No. of People  </label>
                <input type="text" class="form-control" id="exampleInputName2">
              </div>
            </div>
            <div class="col-md-8">
              <div class="form-group">
                <label for="exampleInputName3">Special Accomodations?</label>
                <input type="text" class="form-control" id="exampleInputName3">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
              <button type="button" class="btn btn-green btn_full">
                RSVP
              </button>

              </div>
            </div>
            <div class="col-md-8">
              <div class="form-group">
                <button type="button" class="btn btn-green btn_full">
                  Purcahse Watch Party Package
                </button>
              </div>
            </div>
          </div>         
        </form> -->
      </div>
    </div>
  </div>
</div>
<!-- 
3. The default location does not make sense (see first screenshot)
5.  "Your teams" needs to show favorite teams. It currently goes to the "Sports" page.
10. The "Manage Party Assignment" tab on the "Package" page needs an option to assign the package to a specific party.
11. Whoever created the Watch Party needs to be able to cancel it.
12. If the venue create it they should be able to verify the watch party which should be indicated in the listing of the watch party.
13. Watch Party search should default to current location.
14. Map currently shows blue screen on search Watch Party page. It needs an actual map. -->
