
<%= form_for(@party) do |f| %>
  <% if @party.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@party.errors.count, "error") %> prohibited this party from being saved:</h2>

      <ul>
      <% @party.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md-9">
    <div class="form-group">
      <div class="form-group col-md-6">
        <%= image_tag(@party.image_url, class: "img-responsive", id: "acc_profile_image") %>
      </div>
      <div class="fileUpload btn btn-green">
      <span>Upload Photo</span>
        <%= f.file_field :image_url, class: "upload" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, cols: 80, rows: 2, class: "form-control"%>
    </div>
    <div class="form-group">
      <%= f.label :scheduled_for %>
      <%= f.datetime_select :scheduled_for, class: "form-control"%>
    </div>
    <div class="form-group">
      <%= f.label :friendly_url %>
      <%= f.text_field :friendly_url, class: "form-control" %>
    </div>
    <%= f.hidden_field :organizer_id, value: current_user.id %>
    <div class="form-group">
      <%= f.label :team %>
      <%= select_tag 'party[team_id]', options_from_collection_for_select(Team.order("name ASC"), 'id', 'name'), include_blank: false, class: 'select2 form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :venue %>
      <%= select_tag 'party[venue_id]', options_from_collection_for_select(Venue.order("name ASC"), 'id', 'name_and_address'), include_blank: false, class: 'form-control select2'%>
    </div>
    <div class="actions">
      <%= f.submit "Save", class: "btn btn-green btn-default" %>
      <%= link_to 'Show', @party, class: "btn btn-green btn-default" %>
      <%= link_to 'Back', parties_path, class: "btn btn-green btn-default" %>
    </div>
  </div>
<% end %>
