<%= form_for(@party) do |f| %>
  <% if @party.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@party.errors.count, "error") %> prohibited this party from being saved:</h2>

      <ul>
      <% @party.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :is_private %><br>
    <%= f.check_box :is_private %>
  </div>
  <div class="field">
    <%= f.label :verified %><br>
    <%= f.check_box :verified %>
  </div>
  <div class="field">
    <%= f.label :scheduled_for %><br>
    <%= f.datetime_select :scheduled_for %>
  </div>
  <div class="field">
    <%= f.label :organizer %><br>
    <%= f.text_field :organizer %>
  </div>

  <div class="field">
    <%= f.label :team %><br>
    <%= f.text_field :team %>
  </div>

  <div class="field">
    <%= f.label :venue %><br>
    <%= f.text_field :venue %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
