<%= form_for(@party) do |f| %>
  <% if @party.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@party.errors.count, "error") %> prohibited this party from being saved:</h4>
      <ul>
      <% @party.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :name, "Party Title"%>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <label for="exampleInputName2">Friendly URL  </label>
      <%= f.text_field :friendly_url, class: "form-control", id: "friendlyUrl"%>
      <div class = "hide" id= "error_div">
        <span style = "color:red;" id="error_text">  </span>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputName3">Business Name </label>
      <input type="text" class="form-control" id="exampleInputName3">
    </div>
    
    <div class="form-group" id='venue-select'>
      <%= f.label :venue %><br>
      <%= select_tag 'party[venue_id]', options_from_collection_for_select(Venue.all, 'id', 'name_and_address'), include_blank: false, class: 'select2 form-control' %>
    </div>
    <div class="form-group">
      <%= check_box_tag "new_venue" %> Create New Venue
    </div>
    <div class='new_venue hidden' id='venue-create'>
      <%= f.fields_for :venue_attributes do |v| %>
        <div class="form-group">
          <%= v.label :name %>
          <%= v.text_field :name, class: "form-control" %>
        </div>
        <%= v.fields_for :address_attributes do |a| %>
          
          <div class="form-group">
            <%= a.label :street1, "Address street1" %><br>
            <%= a.text_field :street1, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= a.label :street2, "Address street2" %><br>
            <%= a.text_field :street2, class: "form-control" %>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <%= a.label :city %>
                <%= a.text_field :city, class: "form-control" %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <%= a.label :state %>
                <%= a.text_field :state, class: "form-control" %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <%= a.label :zip, "Zip Code" %>
                <%= a.text_field :zip, class: "form-control"  %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :scheduled_for, "Date" %>
          <%= f.text_field :scheduled_for, class: "form-control datepicker" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group create_slider">
          <span id="time_slideVal">12:00</span>
          <div class="col-md-12 ">
            <input type="hidden" class="hid_class" name="party[hid_time]">
            <%= text_field_tag "time_slide", nil, type: 'text',
            data: {'slider-id' => 'time_slideSlider',
            'slider-min' => '0',
            'slider-max' => '1439',
            'slider-step' => '1' }
            %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="exampleInputName9">Watch Party Picture</label>
          <button type="button" class="btn btn-green btn_full" data-toggle="modal" data-target="#myModal">
            Choose
          </button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= image_tag "vendor/logo2.png", class: "img-responsive" %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <h5><strong>Number of People</strong></h5>
      <p>Choose a minimum and maximum of available RSVPs by 
        dragging the sliders (10-100)</p>
          <div class="col-md-12 create_slider">
            <%= text_field_tag "ex1", nil, type: 'text',
            data: {'slider-id' => 'ex1Slider',
              'slider-min' => '0',
              'slider-max' => '100',
              'slider-step' => '1' }
              %>
          </div>
        <!-- <span id="time_slideVal">3</span></span> -->
        <div class="text-center">
          <h2><strong>100 RSVPs</strong></h2>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :team, "Party Team" %><br>
        <%= select_tag 'party[team_id]', options_from_collection_for_select(Team.all, 'id', 'name'), include_blank: false, class: 'select2 form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :description, "Watch Party Description" %>
        <%= f.text_area :description, rows: 3, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.hidden_field :organizer_id, value: current_user.id %>
      </div>
      <div class="form-group">
        <label for="exampleInputName12">Tags  </label>
        <input type="text" class="form-control" id="exampleInputName12">
      </div>
      <div class="form-group radio_create">
        <h6><label for="exampleInputName13">Party Type  </label></h6>
        <label class="radio-inline">
          <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">  Open Invite
        </label>
        <label class="radio-inline">
          <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">Invite Only
        </label>
      </div>
    </div>
    <div class="text-center col-md-12 btn_area">
      <%= link_to 'Cancel', parties_path, class: "btn btn-green btn-default" %>
      <%= f.submit "Save", class: "btn btn-green btn-default" %>
    </div>
<% end %>


<script>
  $("#friendlyUrl").keydown(function(e){
    if (e.keyCode == 32){ // 32 is the ASCII value for a space
      e.preventDefault();
    }
  });
  $("#friendlyUrl").blur(function(){
    var url = $("#friendlyUrl").val();
    $.get('/parties/check_friendly_url_availablitiy', {friendlyUrl: url})
    .done(function(data){
      if (data)
      {
        $("#error_div").removeClass('hide');
        $("#error_text").html($("#friendlyUrl").val() + " is not available!");
        $("#roll_Number").val('');
      }
      else
      {
        $("#error_div").addClass('hide');
      }
    });
  });
</script>