

<%= form_for(@party) do |f| %>
  <% if @party.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@party.errors.count, "error") %> prohibited this party from being saved:</h4>
      <ul>
      <% @party.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :name, "Party Title"%>
      <%= f.text_field :name, class: "form-control", :required => true %>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group m_b0">
          <label for="exampleInputName2">Friendly URL  </label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form_url">
         https://www.foamfingernation.com/parties/
        </div>
      </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.text_field :friendly_url, class: "form-control", id: "friendlyUrl", :required => true %>
        <div class = "hide" id= "error_div">
          <span style = "color:red;" id="error_text">  </span>
        </div>
      </div>
    </div>
    </div>
    <!-- <div class="form-group">
      <label for="exampleInputName3">Business Name </label>
      <%#= f.text_field :business_name, class: "form-control" %>
       <input type="text" class="form-control" id="exampleInputName3"> 
    </div> -->

<!--     <div class="form-group col-md-6">
      <label for="exampleInputName3">Sponsor Image </label>
      <%#= image_tag(@party.sponser_image, class: "img-responsive", id: "sponser_image") %>
      <%#= f.file_field :sponser_image %>
    </div> -->

    <!-- <div class="form-group" id='venue-select'>
      <%#= f.label :venue %><br>
      <%#= select_tag 'party[venue_id]', options_from_collection_for_select(Venue.order("name ASC"), 'id', 'name_and_address', @party.venue_id), include_blank: false, class: 'select2 form-control' %>
    </div>
    <div class="form-group">
      <%#= check_box_tag "new_venue" %> Create New Venue
    </div> -->

    <% if !(current_user.has_role?(:venue_manager, :any) || current_user.has_role?(:manager, :any)) %>

       <div class="form-group">
            <h6>Location of Party</h6>
            <label class="radio-inline is_venue">
              <%= f.radio_button :who_created_location, 'customer_venue', :checked => true, id: 'isAtVenue_radio_button'%> Venue
            </label>
            <label class="radio-inline is_venue">
              <%= f.radio_button :who_created_location, 'customer_house', id: 'isAtVenue_radio_button' %> House
            </label>
        </div>
        <div class="form-group" id='venue-select'>
              <%= f.label :venue %><br>
              <%= select_tag 'party[venue_id]', options_from_collection_for_select(Venue.where("created_by='admin'").order("name ASC"), 'id', 'name_and_address', @party.venue_id), include_blank: false, class: 'select2 form-control' %>
              <%#= f.select :venue_attributes, venue_selects, {} ,class: "form-control" %>
        </div>
        <div class='new_venue' id='venue-create'>
          <%= f.fields_for :venue_attributes do |v| %>
            <div class="form-group" id="bussiness_name">
              <h6>Venue Name</h6>
              <%= v.text_field :name, class: "form-control" %>
            </div>
            <%= v.fields_for :address_attributes do |a| %>
              
              <div class="form-group">
                <%= a.label :street1, "Address street1" %><br>
                <%= a.text_field :street1, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= a.label :street2, "Address street2" %><br>
                <%= a.text_field :street2, class: "form-control" %>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <%= a.label :city %>
                    <%= a.text_field :city, class: "form-control" %>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <%= a.label :state %>
                    <%= a.text_field :state, class: "form-control" %>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <%= a.label :zip, "Zip Code" %>
                    <%= a.text_field :zip, class: "form-control"  %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
    <% end %>


    <div class="row">
      <div class="col-md-12">
        <div class="form-group date_area">
          <%= f.label :scheduled_for, "Date & Time" %><br/>
          <%= f.datetime_select :scheduled_for,{ampm: true} %>
          <%#= f.datetime_select :scheduled_for,{ampm: true} ,{class: "datepicker"}%>
          <%#= f.text_field :scheduled_for, class: "form-control datepicker" %>

          <%#= f.label :scheduled_time %><br>
          <%#= f.select 'party[scheduled_for(4i)]', timeOfParty, {} , {:multiple => true, class: "form-control"} %>
          <%#= select_tag 'party[scheduled_time]', options_from_collection_for_select(timeOfParty, value:, text:), include_blank: false, class: 'select2 form-control' %>
        </div>
      </div>
      <!--div class="col-md-6">
        <div class="form-group">
          <label>Time </label>
          <%= text_field_tag "time_slide" , '' ,class: "form-control datepicker", :required => true %> 
        </div>
      </div-->
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="exampleInputName9">Watch Party Picture</label>
          <span class="file-input btn btn-block btn-green btn-file">
            Choose File<%= f.file_field :image_url, class: "upload" %>
          </span>
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group">
          <% if !@party.image_url.present? %>
            <%= image_tag("vendor/create_logo.png", class: "img-responsive", id: "acc_profile_image") %>
          <% else %>
            <%= image_tag(@party.image_url, class: "img-responsive", id: "acc_profile_image") %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="exampleInputName12">Choose maximum number of available RSVPs  </label>
      <%= f.text_field :max_rsvp, class: "form-control max-rsvps" %>
    </div>  
    <div class="form-group">
      <%= f.label :team, "Party Team" %><br>
      <%= select_tag 'party[team_id]', options_from_collection_for_select(Team.order("name ASC"), 'id', 'name',@party.team_id), include_blank: false, class: 'select2 form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :description, "Watch Party Description" %>
      <%= f.text_area :description, rows: 3, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.hidden_field :organizer_id, value: current_user.id %>
    </div>
    <!--div class="form-group">
      <label for="exampleInputName12">Tags</label>
      <%#= f.text_field :tags, class: "form-control" %>
    </div-->
    <div class="form-group radio_create">
      <h6><label for="exampleInputName13">Party Type  </label></h6>
      <label class="radio-inline">
        <%= f.radio_button :invite_type, 'open', :checked => true %> Open Invite
      </label>
      <label class="radio-inline">
        <%= f.radio_button :invite_type, 'private' %> Invite Only
      </label>
    </div>
  </div>

    <div class="text-center col-md-12 btn_area">
      <%= link_to 'Cancel', parties_path, class: "btn btn-green btn-default" %>
      <%= f.submit "Save", class: "btn btn-green btn-default" %>
    </div>

    <div>
    <p>datetime <%= DateTime.now %> </p>
    <p>time     <%= Time.now %> </p>
    </div>
<% end %>


<script>
  $("#friendlyUrl").keydown(function(e){
    if (e.keyCode == 32){ // 32 is the ASCII value for a space
      e.preventDefault();
    }
  });
  $("#friendlyUrl").blur(function(){
    var url = $("#friendlyUrl").val();
    $.get('/parties/check_friendly_url_availablitiy', {friendlyUrl: url})
    .done(function(data){
      if (data)
      {
        $("#error_div").removeClass('hide');
        $("#error_text").html($("#friendlyUrl").val() + " is not available!");
        $("#friendlyUrl").val('');
      }
      else
      {
        $("#error_div").addClass('hide');
      }
    });
  });

   $(document).ready(function () {

    $(".is_venue .iCheck-helper, .is_venue").click(function() {
      var isAtVenue_radio_button = $('input[id=isAtVenue_radio_button]');
      var checkedValue = isAtVenue_radio_button.filter(':checked').val();

      if(checkedValue == "customer_venue")
      {
        
        if ($("#party_venue_id").val() != "new_venue")
        {
          $("#venue-create").hide();
          $("#bussiness_name").hide();
        } else {
          $("#venue-create").show();
          $("#bussiness_name").show();
        }

        $("#venue-select").show();

        /*
        $("#firstName").hide();
        $("#lastName").hide();
        $("#bussiness_name_label").text("Bussiness Name");
        $("#bussiness_name_input").attr("placeholder", "Bussiness Name");
        $("#bussiness_name_input").attr("required", true);
        */
      } else if(checkedValue == "customer_house") {
        $("#bussiness_name").hide();
        $("#venue-select").hide();
        $("#venue-create").show();
      }
    });

    $('#party_venue_id').prepend($('<option>', {
        value: 'new_venue',
        text: "I do not see venue"
    }));

    //$( "#datepicker" ).datepicker();
    $("#bussiness_name").hide();

    $("#party_venue_id").on('change', function() {

      if ($(this).val() != "new_venue")
      {
        $("#venue-create").hide();
        $("#bussiness_name").hide();
      } else {
        $("#venue-create").show();
        $("#bussiness_name").show();
      }

    });

  });
 
</script>