<% current_user.party_reservations.each do |party_reservation| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="cancle_icon">
        <a href="#"><i class="fa fa-times"></i></a>
      </div>
      <div class="holder">
        <%= image_tag(party_reservation.party.team.image_url, class: "img-responsive") unless party_reservation.party.nil? || party_reservation.party.team.nil? %>
      </div>
      <div class="caption">
        <%= link_to party_reservation.party do %>
          <h3> <%= party_reservation.party.name rescue "" %> </h3>
        <% end %>
        <ul class="list-inline">
          <li><%= party_reservation.party.scheduled_for.strftime("%A, %d %b %Y %l:%M %p") rescue "" %></li>
          <li><%= party_reservation.party.venue.address.city_state rescue "" %></li>
        </ul>
        <p><%= party_reservation.party.description rescue "" %></p>

      </div>
    </div>
  </div>
<% end %>
