<% c = 0 %>
<% @rvs_parties.each do |party_reservation| %>
  <% if c % 3 == 0 %>
    <div class=" ">
  <% end %>
  <% c = c + 1 %>
  <div class="col-sm-6 col-md-4 add_rsvp_party">
    <div class="thumbnail">
      <div class="cancle_icon">
        <%= link_to '<i class="fa fa-times"></i>'.html_safe, cancel_reservation_party_path(party_reservation), data: { confirm: 'Are you sure?' } %>
      </div>
      <div class="holder">
        <%= image_tag(party_reservation.party.image_url, class: "img-responsive") unless party_reservation.party.nil? || party_reservation.party.image_url.nil? %>
      </div> 
      <div class="caption">
        <%= link_to party_reservation.party do %>
          <h3> <%= party_reservation.party.name rescue "" %> </h3>
          <% if Party.exists?(party_reservation.party_id) %>
            <% if party_reservation.party.verified %>
              <div class="verifie_caption">
                <div class="image-holder">
                    <img alt="No image" class="img-responsive" src="/assets/vendor/no_image.png">
                  </div>
                <strong class="title"><em>Verified</em></strong>
              </div>
            <% end %>
          <% end %>
        <% end %>
        <br>
        <%= party_reservation.party.sponsor %>
        <ul class="list-inline ">
          <li><%= party_reservation.party.scheduled_for.strftime("%A, %d %b %Y %l:%M %p") rescue "" %></li>
          <li><%= party_reservation.party.venue.address.city_state rescue "" %></li>
        </ul>
        
        <% if party_reservation.party  %>
          <% if !party_reservation.party.description.nil? %>
            <div class="party_desc"><p><%= party_reservation.party.description.truncate(40) rescue "" %></p></div>
          <% end %>
          <% if reservations_include?(party_reservation.party, current_user) %>
            <%= link_to "unRSVP", party_rsvp_path(party_reservation.party), class: "prt_rsvp" %>
          <% else %>
            <%= link_to "RSVP", party_rsvp_path(party_reservation.party), class: "prt_rsvp" %>
          <% end %>
        <% end %>
        <span class="prt_rsvp"> | </span>
        <%= link_to "View Party Packages", party_reservation.party, class: "prt_rsvp" %>
      </div>
    </div>
  </div>
  <% if c % 3 == 0 || @rvs_parties.count == c %>
    </div>
  <% end %>
<% end %>
