<% c = 0 %>
<% @rvs_parties.each do |party_reservation| %>

<% if party_reservation.party.organizer_id != current_user.id %>
    
    <% if c % 3 == 0 %>
      <div class=" ">
    <% end %>
    
    <% c = c + 1 %>
    
    <!--div class="col-sm-6 col-md-4 add_rsvp_party"-->  
      <div class="card">

        <div class="padding">

            <% if party_reservation %>
              <%= render partial: 'card', locals: {party: party_reservation.party} %>
            <% end %>
            
        </div> <!-- END padding -->

          <div class="bottom">

            <div class="inline-block">
              <% if party_reservation.party.present? %>
                <%= render partial: 'social_media', locals: {party: party_reservation.party} %>
              <% end %>
            </div>

            <div class="inline-block edit-card-text">
              <% if party_reservation.party  %>
                <% if reservations_include?(party_reservation.party, current_user) %>
                  <%= link_to "unRSVP", party_rsvp_path(party_reservation.party), class: "prt_rsvp" %>
                <% else %>
                  <%= link_to "RSVP", party_rsvp_path(party_reservation.party), class: "prt_rsvp" %>
                <% end %>
              <% end %>

              <span class="prt_rsvp"> | </span>
              
              <%= link_to "Party Packages", party_reservation.party, class: "prt_rsvp" %>
              <% if current_user.id == 36 ||  current_user.id == 1 %>
                <span class="prt_rsvp"> | </span>
                <span id="rsvparty-<%= party_reservation.party.id %>">
                  <% if party_reservation.party.verified? %>
                    <%= link_to( "Verified", unverify_party_path(party_reservation.party), class: "prt_rsvp", remote: true, method: :put)%>
                  <% else %>
                    <%= link_to("Verify", verify_party_path(party_reservation.party), class: "prt_rsvp", remote: true, method: :put)%>
                  <% end %>
                </span>
              <% end %>
            </div>


            
          </div>
      </div>
    <!--/div-->

    <% if c % 3 == 0 || @rvs_parties.count == c %>
      </div>
    <% end %>

  <% end %>
<% end %>
