<% current_user.party_reservations.each do |party_reservation| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="cancle_icon">
        <%= link_to '<i class="fa fa-times"></i>'.html_safe, cancel_reservation_party_path(party_reservation), data: { confirm: 'Are you sure?' } %>
      </div>
      <div class="holder">
        <%= image_tag(party_reservation.party.team.image_url, class: "img-responsive") unless party_reservation.party.nil? || party_reservation.party.team.nil? %>
      </div>
      <div class="caption">
        <%= link_to party_reservation.party do %>
          <h3> <%= party_reservation.party.name rescue "" %> </h3>
        <% end %>
        <ul class="list-inline">
          <li><%= party_reservation.party.scheduled_for.strftime("%A, %d %b %Y %l:%M %p") rescue "" %></li>
          <li><%= party_reservation.party.venue.address.city_state rescue "" %></li>
        </ul>
        <p><%= party_reservation.party.description rescue "" %></p>
        <% if party_reservation.party  %>
          <% if reservations_include?(party_reservation.party, current_user) %>
            <%= link_to "unRSVP", party_rsvp_path(party_reservation.party), class: "prt_rsvp" %>
          <% else %>
            <%= link_to "RSVP", party_rsvp_path(party_reservation.party), class: "prt_rsvp" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
