<% c = 0 %>
<% @rvs_parties.each do |party_reservation| %>

<% if party_reservation.party.organizer_id != current_user.id %>
    <% if c % 3 == 0 %>
      <div class=" ">
    <% end %>
    <% c = c + 1 %>
    <div class="col-sm-6 col-md-4 add_rsvp_party" style="height: 430px; padding-top: 20px;">  
      <div class="card">

        <div class="cancle_icon">
          <%= link_to '<i class="fa fa-times"></i>'.html_safe, cancel_reservation_party_path(party_reservation), data: { confirm: 'Are you sure?' } %>
        </div>
        <div class="holder">
          <%= image_tag(party_reservation.party.image_url, class: "img-responsive center") unless party_reservation.party.nil? || party_reservation.party.image_url.nil? %>
        </div> 
        <div class="caption">
          <%= link_to party_reservation.party do %>
            <h3> <%= party_reservation.party.name rescue "" %> </h3>
            <% if Party.exists?(party_reservation.party_id) %>
              <% if party_reservation.party.verified %>
                <div class="verifie_caption" id="rsvparty-verified-<%= party_reservation.party.id %>">
              <% else %>
                <div class="verifie_caption" id="rsvparty-verified-<%= party_reservation.party.id %>" style="display:none">    
              <% end %>
                  <div class="image-holder">
                    <img alt="No image" class="img-responsive" src="/assets/vendor/verified_logo.png" >
                  </div>
                  <strong class="title" style="font-size:9px;"><em>Verified</em></strong>
                </div>
            <% end %>
          <% end %>
          <br>
          <%= party_reservation.party.sponsor if party_reservation.party.present? %>
          <ul class="list-inline ">
            <li><%= party_reservation.party.scheduled_for.strftime("%A, %d %b %Y %l:%M %p") rescue "" %></li>
            <li><%= party_reservation.party.venue.address.city_state rescue "" %></li>
          </ul>
          
          <% if party_reservation.party  %>
            <% if !party_reservation.party.description.nil? %>
              <div class="party_desc"><p><%= party_reservation.party.description.truncate(40) rescue "" %></p></div>
            <% end %>
            <% if reservations_include?(party_reservation.party, current_user) %>
              <%= link_to "unRSVP", party_rsvp_path(party_reservation.party), class: "prt_rsvp" %>
            <% else %>
              <%= link_to "RSVP", party_rsvp_path(party_reservation.party), class: "prt_rsvp" %>
            <% end %>
          <% end %>
          <span class="prt_rsvp"> | </span>
          <%= link_to "View Party Packages", party_reservation.party, class: "prt_rsvp" %>
            <% if current_user.id == 36 ||  current_user.id == 1 %>
              <span class="prt_rsvp"> | </span>
              <span id="rsvparty-<%= party_reservation.party.id %>">
                <% if party_reservation.party.verified? %>
                  <%= link_to( "Verified", unverify_party_path(party_reservation.party), class: "prt_rsvp", remote: true, method: :put)%>
                <% else %>
                  <%= link_to("Verify", verify_party_path(party_reservation.party), class: "prt_rsvp", remote: true, method: :put)%>
                <% end %>
              </span>
            <% end %>
        </div>
        <% if party_reservation.party.present? %>
          <%= render partial: 'social_media', locals: {party: party_reservation.party} %>
        <% end %>
      </div>
    </div>
    <% if c % 3 == 0 || @rvs_parties.count == c %>
      </div>
    <% end %>

  <% end %>
<% end %>
