<h1>Invite Friends</h1>

  <%= form_for "invites", url: send_invites_path(@party.friendly_url) do |f| %>

    <div id="InputsWrapper">
      <div class="field">
        <%= f.label :emails %><br>
        <%= f.text_field :email_1 %>
      </div>
    </div>

    <div class="field">
      <%= link_to "Add Another", "#", id: "add-email" %>
    </div>

    <div class="actions">
      <%= f.submit "Send Invites" %>
    </div>
  <%end%>

