<div id="wrapper">
  <%= render "layouts/black_side" %>
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="create_header row">
        <div class="col-md-12 ">
          <div class="mobile_header  ">
            <a href="#menu-toggle" class="btn btn-default pull-left " id="menu-toggle"><i class="fa fa-bars"></i> </a>
            <div class="logo pull-left">
              <%= link_to(image_tag("vendor/logo2.png"), root_path, alt: "FFN") %>
            </div>
          </div>
          <div class=" cap col-md-4 pull-right ">
            <h2>CREATE  A<br>
              PARTY</h2>
              <p>Think you have what it takes 
                to host screaming fans on 
                gameday? Good luck.</p>
              </div>
            </div>
          </div>
          <div class="main-area">
            <div class="row">
              <div id='notice'>
                <%= render :partial => 'layouts/flash' , :locals => { :flash => flash } %>
              </div>
              <div class=" create col-md-12">
                <p id="notice"><%= notice %></p>
                <%= render 'new_form' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>