<style type="text/css">
  .sport_header{
    <% if @party.banner.present? %>
      background: url(<%= asset_path "#{@party.banner_url}" %>) no-repeat center center;
      background-size: cover;
      height: 468px;
    <% else %>
      background: url(<%= asset_path 'vendor/Sports_banner.png' %>) no-repeat center center;
      background-size: cover;
      height: 468px;
    <% end %>
  }
</style>
<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="sport_header row">
      <div class="col-md-12">
        <button type="button" data-toggle="modal" data-target="#wallModal" class="btn btn-green">Upload Banner</button>
        <div class="sport_caption col-md-5 pull-right verified">
          <h2><%= @party.name%>
            <%#= render_shareable :buttons=> ['twitter', 'facebook'], static_link: true,facebook:{ title: "Foam Finger Nation", send: true, url: "https://www.ffn-staging.herokuapp.com/party-63", image: @party.image_url}  %>
          </h2>
          <% if @party.verified %>
          <div class="verifie_box">
            <strong class="title"><em>Verified</em></strong>
          </div>
          <% end %>
          <div class="clearfix"></div>
          <% if @party.sponsor.nil? %>
          <button type="button" data-toggle="modal" data-target="#sponsorModal" class="btn btn-green">Become a Sponsor</button>
          <br>
          <% else %>
          <h4> Sponsored By <%= @party.sponsor %></h4>
          <% end %>
          <%#= facebook_button :title=> 'Alternate Title', description: "foam finger nation" %>
          <h4><%= @party.venue.address.street_address %> | <%= @party.scheduled_for.strftime("%I:%M %P")%> <br>
            <%= @party.party_reservations.count.to_s%> RSVP'd
          </h4>
          <% if reservations_include?(@party, current_user) %>
          <%= link_to "Already going", "#", class: "btn  btn-default btn_black" %>
          <%= link_to "Invite Friends", invite_friends_path(@party), class: "btn btn-green btn-default"%> <br>
          <%= link_to "cancel RSVP", party_rsvp_path(@party), class: "col_black" %>
          <% else %>
          <%= link_to "RSVP", party_rsvp_path(@party), class: "btn btn-green btn-default" %>
          <%= link_to "Invite Friends", invite_friends_path(@party), class: "btn btn-green btn-default"%>
          <% end %>
        </div>
      </div>
    </div>
    <div class="main-area">
      <div class="row">
        <div id='notice'>
          <%= render :partial => 'layouts/flash' , :locals => { :flash => flash } %>
        </div>
        <div class="follow companylisting ">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="row">
              <!--                 <%# if @party.verified %>
                <div class="col-md-2 col-sm-3 col-xs-6">
                  <div class="verifie_caption">
                    <div class="image-holder">
                      <img alt="No image" class="img-responsive" src="/assets/vendor/no_image.png">
                    </div>
                    <strong class="title"><em>Verified</em></strong>
                  </div>
                </div>
                <%# end %> -->
              <div class="col-md-12">
                <a target="_blank" href="http://shareasale.com/r.cfm?b=537702&amp;u=1144786&amp;m=7124&amp;urllink=&amp;afftrack="><img src="http://static.shareasale.com/image/7124/All_Leagues_180x150.jpg" border="0" alt="Shop for Official Game Day Gear at Fanatics!" /></a>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-3">
                <p><%= @party.description %></p>
              </div>
            </div>
            <br>
            <p>
            <div id="available-packages" class="col-md-12 col-sm-12 col-xs-12">
              <br>
              <%= render :partial => "available_packages" %>
            </div>
            </p>
          </div>
          <div class="col-md-offset-1 col-md-5 col-sm-6 row">
            <h2><%= @party.venue.name %></h2>
            <ul class="list-unstyled address">
              <li><%= @party.venue.address.street_address %></li>
              <li><%= @party.venue.address.city_state %></li>
              <li><%= link_to  @party.venue.website,  @party.venue.website if  @party.venue.website %></li>
            </ul>
            <p><%= @party.venue.description %></p>
            <div class="map_holder">
              <% if @party.venue.address.latitude.present? && @party.venue.address.longitude.present?%>
              <a class="tweet btn" title="<%=@party.name %>" href="http://ffn-staging.com/parties/<%= @party.friendly_url%>" target="_blank"> Twitter</a>
              <button id = "fbtn" class="btn btn-green">facebook</button>
              <div id="map" style='width: 100%; height: 200px;'></div>
              <% end %>
              Created By <%= @party.organizer.full_name %> (<%= link_to @party.organizer.username, "/user/#{@party.organizer.id}" %>)
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class=" ch_location myparties modal fade" id="sponsorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" id = "modall">
        <h2>Request to add Sponsor </h2>
        <%= form_tag sponsor_request_party_path(@party.id), method: "get" do %>
        <label>Your Contact#</label>
        <input type="text" name= "cell" class="form-control">
        <label>Sponsor Name</label>
        <input type="text" name= "sponsorname" class="form-control">
        <label>Sponsor Image</label>
        <%= file_field_tag 'sponsorimage' %>
        <%= submit_tag "Send Request" ,class: "btn btn-green pull-right"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class=" ch_location myparties modal fade" id="wallModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" id = "modalls">
        <h2>Upload Wall Photo</h2>
        <%= form_for(@party) do |f| %>
        <label>Banner Image</label>
        <%= f.file_field :banner, :required => true, :id => :banner_upload_field %>
        <%= f.submit "Upload Banner" ,class: "btn btn-green pull-right"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @map_markers.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(11)
  });
  
  $("#fbtn").click(function(){
      FB.ui({
      method: 'feed',
      link: 'www.foamfingernation.com/parties/<%= @party.friendly_url %>',
      caption: 'Get a Party around You',
      description: "<%= @party.description %>",
      picture: "<%= @party.image_url %>"
    }, function(response){});
  
  });


  /*$("#banner_upload_field").change(function (e) {
    alert(this.files[0].size);
    var file, img;
    if ((file = this.files[0])) {
      alert("this.files[0].size");
        img = new Image(file);
        /*img.on('load', function () {*/
            //alert("Width:" + img.width + "   Height: " + img.height);
        /*})
        .attr('src', url)
        ;*/
        /*img.onload = function () {
            alert("Width:" + img.width + "   Height: " + img.height);//this will give you image width and height and you can easily validate here....
        };
        //img.src = _URL.createObjectURL(file);
    }
});*/
  
  
  
  //   $("#facbook").click( function(){
    
  // ///////////////////////////////
  
  //     FB.ui({method: 'share',href: "https://www.ffn-staging.herokuapp.com/parties/w33w3s"},function(){});
  // /////////////////////////////
  
  //   });
  
</script>
<!--   <meta property="og:title" content= "Foam Finger Nation" />
  <meta property="og:type" content= "image" />
  <link rel="canonical" href="http://www.foamfingernation.com/parties/<%= @party.friendly_url %>">
  <meta property="og:url" content="http://www.foamfingernation.com/parties/<%#= @party.friendly_url %>" />
  <meta property="og:description" content="Its party Time" />
  <meta name="description" content="Description is here" /> -->
<!-- <div id="fb-root">
  <meta name="description" content="Description is here" />
  </div> -->
<meta property="og:image" content="<%= @party.image_url %>" />
<meta property="og:image:width" content="500" />
<meta property="og:image:height" content="400" />
<meta property="og:image:secure_url" content="https://www.foamfingernation.com/assets/images/placeholder.jpg">
<script>
  $('a.tweet').click(function(e){
    //We tell our browser not to follow that link
    e.preventDefault();
    //We get the URL of the link
    var loc = $(this).attr('href');
    //We get the title of the link
    var title  = escape($(this).attr('title'));
    //We trigger a new window with the Twitter dialog, in the middle of the page
    window.open('http://twitter.com/share?url=' + loc + '&text=' + title + '&', 'twitterwindow', 'height=450, width=550, top='+($(window).height()/2 - 225) +', left='+$(window).width()/2 +', toolbar=0, location=0, menubar=0, directories=0, scrollbars=0');
  });
  
  
</script>