<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @party.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @party.description %>
</p>

<p>
  <strong>Is private:</strong>
  <%= @party.is_private %>
</p>

<p>
  <strong>Verified:</strong>
  <%= @party.verified %>
</p>

<p>
  <strong>Scheduled for:</strong>
  <%= @party.scheduled_for %>
</p>

<p>
  <strong>Organizer:</strong>
  <%= @party.organizer %>
</p>

<p>
  <strong>References:</strong>
  <%= @party.references %>
</p>

<p>
  <strong>Team:</strong>
  <%= @party.team %>
</p>

<p>
  <strong>References:</strong>
  <%= @party.references %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @party.venue %>
</p>

<p>
  <strong>References:</strong>
  <%= @party.references %>
</p>

<%= link_to 'Edit', edit_party_path(@party) %> |
<%= link_to 'Back', parties_path %>
