<p id="notice"><%= notice %></p
	
<div id="major-details">
  <div class="logo-name">
	<%= image_tag(@party.team.image_url, size: '30') unless @party.team.image_url.blank? %>
	<%= @party.name%><br/>
	Created By <%= @party.organizer.full_name %> (<%= @party.organizer.username %>)
  </div>
  <div class= "rsvp-invite">
	  <%= link_to "RSVP", "", class: "rsvp-button"%>
	  <%= link_to "Invite Friends", "", class: "invite-friends-button"%>	  
  </div>
</div>

<div id="details">
	<h3>Details</h3>
	
	<p>
	  When?<br/>
	  <%= @party.scheduled_for %>
    </p>
	<p>
	  Where?<br/>
	  <%= @party.venue.name %>
	  <%= @party.venue.address.full_street_address %>
    </p>	
	<p>
		<%= @party.party_reservations.count.to_s%> RSVP'd
	</p>	
</div>

  <div id="available-packages">
	<%= render :partial => "available_packages" %>
  </div>
<div style="clear:both;"></div>

