<style type="text/css">
body {overflow-x: hidden}
  .sport_header{
    <% if @party.banner.present? %>
      background: url(<%= asset_path "#{@party.banner_url}" %>) no-repeat center center;
      background-size: cover;
      height: 400px;
    <% else %>
      background: url(<%= asset_path 'sports_banner.png' %>) no-repeat center center;
      background-size: cover;
      height: 400px;
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      filter: grayscale(100%); 
    <% end %>
  }
</style>


<div id="page-content-wrapper">
  <div >

    <div class="sport_header_overlay">
        <div class="sport_caption pull-right verified party_caption_banner">
            <img src='<%= asset_path 'white_foam_finger_icon.png' %>'/>
            <span>
              Party
              <%#= render_shareable :buttons=> ['twitter', 'facebook'], static_link: true,facebook:{ title: "Foam Finger Nation", send: true, url: "https://www.ffn-staging.herokuapp.com/party-63", image: @party.image_url}  %>
            </span>
        </div>
    </div>

    <div class="sport_header row">
      <div class="col-md-12">
        <!--
          <button type="button" title="Upload Image" data-toggle="modal" data-target="#wallModal" class="btn btn-green"><i class="fa fa-upload"></i></button>
        -->

        <div>
          <div class="clearfix"></div>
          <%# if @party.verified %>
            <!--div class="verifie_box">
              <strong class="title"><em>Verified</em></strong>
            </div-->
          <%# end %>
          <div class="clearfix"></div>

          <%# if @party.sponsor.nil? %>
          <!-- 
          <button type="button" data-toggle="modal" data-target="#sponsorModal" class="btn btn-green">Become a Sponsor</button>
          <br>
          <%# else %>
          <h4> Sponsored By <%#= @party.sponsor %></h4>
          <%# end %>
          -->

          <!--h4><%#= @party.venue.name %></h4-->
          <%#= facebook_button :title=> 'Alternate Title', description: "foam finger nation" %>
          <!--h5><%#= @party.venue.address.street_address %> | <%#= @party.scheduled_for.strftime("%I:%M %P")%> <br>
            <%#= @party.party_reservations.count.to_s%> RSVP'd
          </h5-->
          <%# if reservations_include?(@party, current_user) %>
          <%#= link_to "Already going", "#", class: "btn  btn-default btn_black" %>
          <%#= link_to "Invite Friends", invite_friends_path(@party), class: "btn btn-green btn-default"%> <br>
          <%#= link_to "cancel RSVP", party_rsvp_path(@party), class: "col_black" %>
          <%# else %>
          <%#= link_to "RSVP", party_rsvp_path(@party), class: "btn btn-green btn-default" %>
          <%#= link_to "Invite Friends", invite_friends_path(@party), class: "btn btn-green btn-default"%>
          <%# end %>
        </div>
        
      </div>
    </div>
    <div class="main-area">
      <div class="row">
        <div id='notice'>
          <%= render :partial => 'layouts/flash' , :locals => { :flash => flash } %>
        </div>
        <div class="follow companylisting ">
          <!--div class="col-md-7 col-sm-6 col-xs-12">
            <div id="available-packages" class="col-md-12 col-sm-12 col-xs-12">
              <br>
              <%#= if @party.party_packages.any? 
                render :partial => "available_packages" 
                end %>
            </div>
          </div-->

          <div class="col-lg-12 col-md-12 col-sm-12" style="padding-top: 1%; padding-left: 3%;">
                
              <div class="col-lg-6 col-md-6 col-sm-12">

                  <div class="party">
                    <div class="padding">

                      <div class="header">

                        <% if @party.verified? %>
                            <img src='<%= asset_path 'icon-verified.png' %>' title="Party Verified" alt="Party Verified" class="img-responsive party-verified" style="width: 75px; float: right; position: absolute; right: 5%;"/>
                        <% end %>

                        <% if !@party.image_url.blank? %>
                            <%= image_tag(@party.image_url, class: "img-responsive center party-card-img", title: "party", style: "border-radius: 100%;") %>
                        <% else %>
                          <img src='<%= asset_path 'placeholder.png' %>' title="party" alt="party" class="img-responsive center party-card-img"/>
                        <% end %>

                        <h2 class="bottom-space-2x"><%= @party.name rescue "" %></h2>

                        <p><%= @party.scheduled_for.strftime("%A, %d %b %Y %l:%M %p") rescue "" %></p>

                        <div>

                            <% if current_user && current_user.image_url.present? %>
                              <%= image_tag current_user.image_url, class: "img-responsive", style: "display: inline-block; border-radius: 100%; width: 32px; height: 32px;" %>
                            <% else %>
                              <%= image_tag "vendor/no_image.png", class: "img-responsive", style: "display: inline-block; border-radius: 100%; width: 32px; height: 32px;"%>
                            <% end %>

                            <% if @party.organizer.full_name.present? %>
                              <p style="display: inline-block; margin-left: 2%;">Hosted By: <%= @party.organizer.full_name.upcase.to_s rescue ""%></p>
                            <% else %>
                              <p style="display: inline-block; margin-left: 2%;">Hosted By: <%= @party.organizer.username.upcase.to_s rescue ""%></p>
                            <% end %>

                        </div>

                      </div>


                      <% if @party.is_cancelled? %>
                      <hr/>
                        <h2 class="cancel bottom-space-1x" style="color:#FF0000;">Sorry party has been cancelled.</h2>
                        <p style="margin:0; font-size: 12px;"><%= @party.cancel_description rescue "" %></p>
                      <% end %>

                      <hr/>

                      <div class="venue">

                        <% if !(@party.who_created_location == "customer_house" || @party.who_created_location == "admin_house") %>
                          
                          <h2 class="bottom-space-1x">Venue</h2>
                    
                          <p style="margin:0; font-size: 12px;"><%= @party.venue.name rescue ""%></p>
                        <% else %>
                            <h2 class="bottom-space-1x">Location</h2>
                        <% end %>

                        <% if @party.venue.address.latitude.present? && @party.venue.address.longitude.present?%>
                          <p style="margin:0; font-size: 12px;"><%= @party.venue.address.street_address %></p>
                          <p style="margin:0; font-size: 12px;"><%= @party.venue.address.city_state %></p>
                        <% end %>

                      </div>
                      
                      <hr/>

                      <div class="description">

                        <div class="col-lg-8 col-md-12 col-sm-12">
                            <h2 class="bottom-space-1x">Description</h2>

                            <% if !@party.description.blank? %>
                              <p class="bottom-space-2x"><%= @party.description rescue "Come out for some fun!" %></p>
                            <% else %>
                              <p class="bottom-space-2x">Come out for some fun!</p>
                            <% end %>
                        </div>

                        <div class="col-lg-4 col-md-12 col-sm-12">

                          <% if !@party.is_cancelled? %>
                              <div class="social-media-btn" style="width: 100%; margin-bottom: 20px; display: block; text-align: right;">
                                <a title="<%=@party.name %>" href="https://www.foamfingernation.com/parties/<%= @party.friendly_url%>" class=" tweet btn btn-green btn-circle" target="_blank">
                                <i class="fa fa-twitter"></i>
                                </a>
                              </div>
                                
                              <div style="width: 100%; margin-bottom: 20px; display: block; text-align: right;">
                                <a title="send to Facebook" 
                                  href="https://www.facebook.com/sharer.php?s=100&&p[title]=<%=@party.name %>&&p[summary]=<%= @party.description %>&&p[url]=https://www.foamfingernation.com/parties/<%= @party.friendly_url%>&&p[images][0]=<%= @party.image_url %>" class="btn btn-green btn-circle btn-facebook"
                                  target="_blank">
                                  <span>
                                    <i class="fa fa-facebook"></i> 
                                  </span>
                                </a>
                              </div>
                            <% end %>
                          </div>

                      </div>


                      <% if !@party.is_cancelled? %>
                        <% if !(current_user.admin? || current_user.has_role?(:venue_manager, @party.venue) || current_user.has_role?(:manager, @party.venue)) %>

                            <div class="manage" style="text-align: center;">

                                <% if @spotsLeft > 0 %>

                                    <% if reservations_include?(@party, current_user) || current_user.has_role?(:venue_manager, @party.venue) || current_user.has_role?(:manager, @party.venue) %>

                                        <%= link_to "UnRSVP", party_rsvp_path(@party), class: "prt_rsvp" , id: "unrsvp#{@party.id}", class: "btn btn-green btn-default", style:"background-color: #FF0000; border-color: #FF0000; color: #FFF; min-width: 150px;" %>

                                    <% else %>

                                        <%= link_to "RSVP", party_rsvp_path(@party), class: "prt_rsvp" , id: "rsvp#{@party.id}", class: "btn btn-green btn-default", style:"min-width: 150px;" %>

                                    <% end %>

                                <% end %>

                            </div>

                          <% end %>
                        <% end %>

                      <div style="clear: both;"></div>

                    </div>
                  </div>

              </div>

              <div class="col-lg-6 col-md-6 col-sm-12">

                  <div class="map_holder desktop">
                    <% if @party.venue.address.latitude.present? && @party.venue.address.longitude.present?%>
                      <div id="map-desktop" style='
                          height: 250px;
                          position: relative;
                          overflow: hidden; width: 100%;'>  
                      </div>
                    <% end %>
                  </div>

                  <% if !@party.is_cancelled? %>
                    <div style="text-align: center" class="top-space-1x bottom-space-2x">
                        <% if (@party.is_private? && current_user.id==@party.organizer_id) || !@party.is_private? %>

                              <div style="height: 90px; position: relative; right: 25px;">
                                <%= link_to "Invite Friends", invite_friends_path(@party), class: "btn btn-green btn-default inline-block", style: "position: relative; top: 15px;"%>
                                <span style="display:inline-block; font-size: 32px; color: #a8d039; position: relative; top: 23px; left: 25px;"><%= @party.party_reservations.count.to_s %> <%= @party.party_reservations.count > 1 ? 'people attending' : 'person attending' %></span>
                              </div>

                              <% if @spotsLeft > 0 %>
                                <p style="font-size: 18px; color: #a8d039;"><%= @spotsLeft %> spots left</p>
                              <% else %>
                                <p style="font-size: 18px; color: #a8d039;">No spots available</p>
                              <% end %>

                          <% else %>

                              <p class="btn btn-green btn-default" style="color:#FFF; background-color: #FF0000; border-color: #FF0000;">Private Party</p>

                        <% end %>
                      </div>
                    <% end %>

                  <% if @party_packages.any? && !@party.is_cancelled? %>
                      <div class="packages">
                        <h2 class="bottom-space-2x">Party Vouchers</h2>
                        
                        <% if @party_packages.any? %>
                           <%= render partial: 'card_package', locals: {packages: @party_packages, party: @party, user: current_user} %>
                        <% end %>
                      </div>
                  <% end %>

              </div>



          </div>

        </div> <!-- end follow -->
      
      </div>
    </div>
  </div>
</div>
<div class=" ch_location myparties modal fade" id="sponsorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" id = "modall">
        <h2>Request to Sponsor This Watch Party</h2>
        <%= form_tag sponsor_request_party_path(@party.id), method: "get" do %>
        <label>Your Contact#</label>
        <input type="text" name= "cell" class="form-control" required>
        <label>Sponsor Name</label>
        <input type="text" name= "sponsorname" class="form-control" required>
        <label>Sponsor Image</label>
        <%= file_field_tag 'sponsorimage' %>
        <%= submit_tag "Send Request" ,class: "btn btn-green pull-right"%>
        <button type="button" class="btn btn-green pull-right" data-dismiss="modal" style="margin-right: 10px" >Close</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class=" ch_location myparties modal fade" id="wallModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" id = "modalls">
        <h2>Upload Wall Photo</h2>
        <%= form_for(@party) do |f| %>
        <label>Banner Image</label>
        <%= f.file_field :banner, :required => true, :id => :banner_upload_field %>
        <%= f.submit "Upload Banner" ,class: "btn btn-green pull-right"%>
        <button type="button" class="btn btn-green pull-right" data-dismiss="modal" style="margin-right: 10px" >Close</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map-desktop'}}, function(){
    markers = handler.addMarkers(<%=raw @map_markers.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(13)
  });

  handler.buildMap({ provider: {}, internal: {id: 'map-mobile'}}, function(){
    markers = handler.addMarkers(<%=raw @map_markers.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(13)
  });
  
  // $("#fbtn").click(function(){
  //     FB.ui({
  //     method: 'feed',
  //     link: 'www.foamfingernation.com/parties/<%#= @party.friendly_url %>',
  //     caption: 'Get a Party around You',
  //     description: "<%#= @party.description %>",
  //     picture: "<%#= @party.image_url %>"
  //   }, function(response){});
  
  // });

  
  //   $("#facbook").click( function(){
    
  // ///////////////////////////////
  
  //     FB.ui({method: 'share',href: "https://www.ffn-staging.herokuapp.com/parties/w33w3s"},function(){});
  // /////////////////////////////
  
  //   });
  
</script>
<!--   <meta property="og:title" content= "Foam Finger Nation" />
  <meta property="og:type" content= "image" />
  <link rel="canonical" href="https://www.foamfingernation.com/parties/<%= @party.friendly_url %>">
  <meta property="og:url" content="https://www.foamfingernation.com/parties/<%#= @party.friendly_url %>" />
  <meta property="og:description" content="Its party Time" />
  <meta name="description" content="Description is here" /> -->
<!-- <div id="fb-root">
  <meta name="description" content="Description is here" />
  </div> -->
<meta property="og:image" content="<%= @party.image_url %>" />
<meta property="og:image:width" content="500" />
<meta property="og:image:height" content="400" />
<meta property="og:image:secure_url" content="https://www.foamfingernation.com/assets/images/placeholder.jpg">
<script>
  $('a.tweet').click(function(e){
    //We tell our browser not to follow that link
    e.preventDefault();
    //We get the URL of the link
    var loc = $(this).attr('href');
    //We get the title of the link
    var title  = escape($(this).attr('title'));
    //We trigger a new window with the Twitter dialog, in the middle of the page
    window.open('https://twitter.com/share?url=' + loc + '&text=' + title + '&', 'twitterwindow', 'height=450, width=550, top='+($(window).height()/2 - 225) +', left='+$(window).width()/2 +', toolbar=0, location=0, menubar=0, directories=0, scrollbars=0');
  });
  
  
</script>