<h2>You have been invited to a watch party on Foam Finger Nation by <%= @inviter.username %></h2>

<p>
	Are you fan enough? Evidently you are because you’ve been invited to the following watch party
</p>
	
<p>
  <%= @party.name %><br>
  Team: <%= @party.team.name %><br>
  When: <%= @party.scheduled_for.strftime("%A, %d %b %Y %l:%M %p") %><br>
  Where:<br>
    <%= @party_address.street1 %> <%= @party_address.street2 %><br>
    <%= @party_address.city %>, <%= @party_address.state %> <%= @party_address.zip %><br>
</p>



<p>Get your foam finger ready for the game. Go ahead, be a fan, RSVP now, invite others, and 
	share on Facebook and Twitter!
</p>

<p>Foam Finger Nation</p>

<%# if @member %>
  <!--p>Follow the link below to download the Foam Finger Nation Mobile App.</p-->

<%# end %>

<p> 
View this party's information: 
<a href=<%= @url %>><%= @url %></a>
</p>
