<h2>You have been invited to a private watch party on Foam Finger Nation by <%= @inviter.name %></h2>

<p>
  <%= @party.name %><br>
  Team: <%= @party.team.name %><br>
  When: <%= @party.scheduled_for %><br>
  Where:<br>
    <%= @party.address.street1 %>, <%= @party.address.street2 %><br>
    <%= @party.address.city %>, <%= @party.address.state %> <%= @party.address.zip %><br>
</p>

<p>Visit the link below to RSVP to this watch party</p>

<%= @url %>
