<div id="page-content-wrapper">
  <div>

    <div class="sport_header_overlay">
      <div class="sport_caption pull-right ">
        <img src='<%= asset_path 'white_foam_finger_icon.png' %>'/>
        <span>Resend Confirmation Instructions</span>
      </div>
    </div>

    <div class="sport_header  row">
    </div>
    <div class="main-area">
      <div class="row">
        <div id='notice'>
          <%= render :partial => 'layouts/flash' , :locals => { :flash => flash } %>
        </div>
        <div class="follow">
          <div class="col-md-8">
            <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :class => "form login" }) do |f| %>

              <%= devise_error_messages! %>

              <div class="input-group">
                <span class="input-group-addon">U</span>
                <%= f.text_field :email, :class => "form-control", :placeholder =>'Email Address' %>
              </div>
              </br>
              
              <div class="input-group">
                <button class="btn btn-primary" type="submit">Resend</button>
              </div>
              </br>

            <% end %>

            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
