<h2>GET IN THE GAME!</h2>
<%= form_for(@user, :url => account_path, method: :post, :html => { :class => "" }) do |f| %>

<div class="row adjust_left">
    <div class="col-md-12">
      <div class="form-group" id="bussiness_name" style="display:none;">
        <label id="bussiness_name_label">Username</label>
        <%= f.text_field :username, :class => "form-control #{'error' if @user.errors[:username]}", :id => 'bussiness_name_input' %>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <%= f.email_field :email, :class => "form-control", :placeholder =>'Email Address', required: true %>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password </label>
        <%= f.password_field :password, :class => "form-control", :placeholder =>'Password', required: true %>
      </div>
      <div class="form-group">
        <label for="exampleInputFile">Confirm password </label>
        <%= f.password_field :password_confirmation, :class => "form-control", :placeholder =>'Password confirmation', required: true %>
      </div>
    </div>
    <div class="col-md-12">

      <!--
      <div class="form-group" id="firstName">
        <label for="exampleInputFile">First Name  </label>
        <%#= f.text_field :first_name, :class => "form-control", :placeholder =>'First name' %>
      </div>
      <div class="form-group" id="lastName">
        <label for="exampleInputFile">Last Name  </label>
        <%#= f.text_field :last_name, :class => "form-control", :placeholder =>'Last name' %>
      </div>
      -->

      <div class="form-group radio_area">
        <label class="radio-inline change_bussiness">
          <input name="user[requested_role]" type="radio" id="user_role_radio_button" value="Sports Fan" checked="checked" />  Sports Fan
        </label>
        <label class="radio-inline change_bussiness">
          <input name="user[requested_role]" type="radio" id="user_role_radio_button" value="Alumni Group" /> Alumni Group
        </label>
        <label class="radio-inline change_bussiness">
          <input name="user[requested_role]" type="radio" id="user_role_radio_button" value="Venue" />  Bar/Establishment
        </label>
      </div>
    </div>
</div>
<div class="col-md-12 text-center">
  <button type="submit" class="btn btn-green btn-default">Sign up</button>
</div>
<div class="clearfix"></div>
<div class="social_area">
  <ul class="list-inline social_icon">
      <li><strong>SIGN UP WITH</strong></li>
    <%# resource_class.omniauth_providers.each do |provider| %>
      <li><%= link_to omniauth_authorize_path(resource_name, 'facebook') , :id => "sign_in" do %>
        <span class="fa-stack fa-1x">
          <i class="fa fa-circle fa-stack-2x icon-background"></i>
          <i class="fa fa-facebook fa-stack-1x"></i>
        </span>
      <% end %><p>Facebook</p></li>
    <%# end %>
   <!--  <li><a href="#">
      <span class="fa-stack fa-1x">
        <i class="fa fa-circle fa-stack-2x icon-background"></i>
        <i class="fa fa-twitter fa-stack-1x"></i>
      </span>

    </a><p>Twitter</p></li> -->
  </ul>
</div>
<% end %>

<%#= f.label 'Requested Role (Please use Sports Fan unless you are a Venue Manager or Alumni Group Coordinator )' %>
<%#= f.select :requested_role, User::REQUESTED_ROLES %>
<!-- <button class="btn green-btn" type="submit">Sign up</button> -->
