<%= form_for(@user, :url => account_path, method: :post, :html => { :class => "form login signup-form" }) do |f| %>

  <%= devise_error_messages! %>

  <div class="input">
    <%= f.text_field :username, :class => "form-control", :placeholder =>'Username' %>
  </div>
  </br>
  
  <div class="input">
    <%= f.text_field :email, :class => "form-control", :placeholder =>'Email Address' %>
  </div>
  </br>

  <div class="input">
    <%= f.password_field :password, :class => "form-control", :placeholder =>'Password' %>
  </div>
  </br>

  <div class="input">
    <%= f.password_field :password_confirmation, :class => "form-control", :placeholder =>'Password confirmation' %>
  </div>
  </br>
  
  <div class="input">
    <button class="btn green-btn" type="submit">Sign up</button>
  </div>
<% end %>
</br>
