<p>Welcome <%= @to %>!</p>

<p>We appreciate you making another commitment to your fandom and joining the social network for sports fans, Foam Finger Nation!</p>

<p>Your information has been sent to the Foam Finger Nation Administrators.  You will be contacted regarding your status as a Venue Manager.</p>

<p>You can log into Foam Finger Nation at the link below:</p>

<p><%= link_to @url, @url %></p>

<p>To make the most of your foam finger awesomeness invite others 
to join, post on Facebook that you are now a member of the Nation, and send a 
tweet!</p>

<p>Thanks again for your support and we’ll see you at a watch 
party soon!</p>

<br>
<p>Rhett Grametbauer</p>
<p>Marketing Director | Foam Finger Nation</p>
<p>512-923-8336 | Rhett@FoamFingerNation.com | <%= link_to "https://www.foamfingernation.com", "https://www.foamfingernation.com" %> </p>
<p>Twitter : <%= link_to "https://twitter.com/foamfinger", "https://twitter.com/foamfinger" %></p>

<div class="image-holder">
	<%= image_tag root_url + 'assets/vendor/create_logo.png' %>
</div>
