<h1>Manage sports</h1>

<table class='table borderless table-hover'>
  <tbody>
    <% @sports.each do |sport| %>
      <tr>
        <td><%= image_tag(sport.image_url, size: '50') %></td>
        <td><%= link_to sport.name, sport_path(sport) %></td>
        <td><%= link_to 'Edit', edit_sport_path(sport) %></td>
        <td><%= link_to 'Destroy', sport, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sport', new_sport_path %>
