  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="sport_header row">
        <div class="col-md-12">
        <div class="clearfix"></div>
          <div class="sport_caption col-md-3 col-xs-8 pull-right ">
            <h2>Sports</h2>
          </div>
        </div>
      </div>
      <div class="main-area">
        <div class="row">
          <div id='notice'>
            <%= render :partial => 'layouts/flash' , :locals => { :flash => flash } %>
          </div>
          <ul class="list-group">
              <% @sports.each do |sport| %>
                <%= image_tag(sport.image_url.thumb) %>
                <%= link_to sport.name, sport_path(sport) %>
                <% if user_signed_in? && current_user.admin? %>
                  <%= link_to 'Edit', edit_sport_path(sport) %>
                  <%= link_to 'Destroy', sport, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              <% end %>
          </ul>
          <%= link_to 'New Sport', new_sport_path %>
        </div>
      </div>
    </div>
  </div>
</div>