  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="sport_header_overlay">
        <div class="sport_caption pull-right">
          <img src='<%= asset_path 'white_foam_finger_icon.png' %>'/>
          <span>Reset Password</span>
        </div>
      </div>

      <div class="sport_header  row">
      </div>
      <div class="main-area">
        <div class="row">
          <div class="follow">
            <div class="col-md-8">
              <%= form_for(resource, :as => resource_name, :url => password_path(resource_name, format: :html), :html => { :method => 'put', :class => "form login signup-form" }) do |f| %>

                <%= devise_error_messages! %>

                <%= f.hidden_field :reset_password_token %>

                <div class="input">
                  <%= f.password_field :password, :class => "form-control", :placeholder =>'Password', :autofocus => true %>
                </div>
                </br>

                <div class="input">
                  <%= f.password_field :password_confirmation, :class => "form-control", :placeholder =>'Password Confirmation' %>
                </div>
                </br>

                <div class="input">
                  <button class="btn green-btn green-btn-wide" type="submit">Change Password</button>
                </div>
                </br>

              <% end %>

              <%= render :partial => "devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


