<div class="bg"></div>
<!-- Main jumbotron -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-6">
        <p id="intro">
          <span class="green-text">Watch the game</span> with other fans.
        </p>
        <p>
          Quickly locate <span class="green-text">watch parties</span> in your area and score awesome <span class="green-text">discounts</span> at the same time.
        </p>

        <p class="hero-quote">
        <i class="fa fa-quote-left fa-md"></i> Find watch parties wherever you go. This is the best thing since football and hotwings! <i class="fa fa-quote-right fa-md"></i> -ESPN
        </p>
        <div class="container button-container">
          <div class="row">
              <div class="col-md-6">
                <%= image_tag( "rsz_itunes_download_button.png", :class=>"apple-download-button",  :alt=>"Download on iTunes")%>
              </div>
              <div class="col-md-6">
                <%= image_tag( "rsz_google_play_download_button.png", :class=>"android-download-button",  :alt=>"Download on Google Play")%>
              </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <%= image_tag( "iphone_screenshot_portrait.png", :id=>"app-screenshot",  :alt=>"App Screenshot")%>
          </div>
          <div class="col-sm-1"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <h1 id="large-centered-green-text">Let's Kick It</h1>
      <%= form_for :search, url: search_parties_path, method: :get, html: { id: 'home-page-search'} do |f| %>
      <div class="col-sm-6">     
          <%= text_field "party","search_item", class: 'form-control input-lg', placeholder: "Team, Venue, or Fanmark", value: params[:party].blank? ? "" : params[:party][:search_item] %>
      </div><!-- /.col-lg-6 -->

      <div class="col-sm-6">
        <div class="input-group" id="search-where">
          <%= text_field "party","search_location", class: "form-control input-lg", placeholder: "Where", value: params[:party].blank? ? "" : params[:party][:search_location] %>
          <span class="input-group-btn">
            <%= f.submit "Go", :class=>"btn btn-default btn-lg"%>
            <!-- <button class="btn btn-default" type="button">Go!</button> -->
        </div><!-- /input-group -->
      </div>
      <% end %>
    </div>
  </div> <!-- end form container -->
</div> <!-- end jumbotron -->


<div class="container">
  <div class="row explanation-container">
    <div class="col-sm-4">
      <span class="green-text"><i class="text-center fa fa-car fa-lg"></i></span>
      <p>Whether you're out of town, or just want to find some fans to watch a game with, the Foam Finger Nation app will help you quickly locate watch parties in your area. </p>
    </div>
    <div class="col-sm-4">
      <span class="green-text"><i class="text-center fa fa-bullhorn fa-lg"></i></span>
      <p>Schedule a watch party and invite your friends, or make the watch party public for even more excitement! </p>
   </div>
    <div class="col-sm-4">
      <span class="green-text"><i class="text-center fa fa-beer fa-lg"></i></span>
      <p>Getting access to exclusive discounts on food and beverages available only to watch parties is a great way to make sure your game day is a success.</p>
    </div>
  </div>
</div>

<br/>
<hr>

<div class="container">
  <div class="row">

    <div class="col-sm-12">
      <h3 id="video-title">What We Do</h3>
      <iframe id="video-player" src="http://player.vimeo.com/video/40463042?title=0&amp;byline=0&amp;portrait=0&amp;color=98c72b" width="700" height="393" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    
  </div>
</div> <!-- end container -->

<div class="container explainer-container">

  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <h1 class="explainer-title">Flop over intrigued by the shower</h1>
    </div>
    <div class="col-xs-1"></div>
  </div>

  <div class="row">

    <div class="col-xs-12 col-md-9">
      <p class="explainer-paragraph">
        Cat ipsum dolor sit amet, play time. Use lap as chair nap all day hate dog bathe private parts with tongue then lick owner's face rub face on everything, or loves cheeseburgers, but sweet beast. Run in circles jump off balcony, onto stranger's head or sweet beast, but missing until dinner time jump off balcony, onto stranger's head scamper intently sniff hand. Always hungry leave fur on owners clothes but sun bathe, so leave dead animals as gifts throwup on your pillow. Leave fur on owners clothes hunt anything that moves chase dog then run away.
      </p>
      <div class="btn green-btn">Learn More</div>
    </div>

    <div class="col-md-3">
        <img class="explainer-image" src="http://placehold.it/350x350">
    </div>

  </div> <!-- end row -->
</div> <!-- end explainer-container -->

<div class="container explainer-container">
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <h1 class="explainer-title">Lap Milk from Favorite Dish</h1>
    </div>
    <div class="col-xs-1"></div>
  </div>

  <div class="row">
    <div class="col-md-3">
        <img class="explainer-image" src="http://placehold.it/350x350">
    </div>
    <div class="col-xs-12 col-md-9">
      <p class="explainer-paragraph">
        Cat ipsum dolor sit amet, play time. Use lap as chair nap all day hate dog bathe private parts with tongue then lick owner's face rub face on everything, or loves cheeseburgers, but sweet beast. Run in circles jump off balcony, onto stranger's head or sweet beast, but missing until dinner time jump off balcony, onto stranger's head scamper intently sniff hand. Always hungry leave fur on owners clothes but sun bathe, so leave dead animals as gifts throwup on your pillow. Leave fur on owners clothes hunt anything that moves chase dog then run away.
      </p>
      <div class="btn green-btn">Learn More</div>
    </div>
  </div><!-- end row -->
</div> <!-- end explainer-container -->

<div class="container explainer-container">

  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <h1 class="explainer-title">Rub Head on Legs</h1>
    </div>
    <div class="col-xs-1"></div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-9">
      <p class="explainer-paragraph">
        Cat ipsum dolor sit amet, play time. Use lap as chair nap all day hate dog bathe private parts with tongue then lick owner's face rub face on everything, or loves cheeseburgers, but sweet beast. Run in circles jump off balcony, onto stranger's head or sweet beast, but missing until dinner time jump off balcony, onto stranger's head scamper intently sniff hand. Always hungry leave fur on owners clothes but sun bathe, so leave dead animals as gifts throwup on your pillow. Leave fur on owners clothes hunt anything that moves chase dog then run away.
      </p>
      <div class="btn green-btn">Learn More</div>
    </div>

    <div class="col-md-3">
        <img class="explainer-image" src="http://placehold.it/350x350">
    </div>

  </div> <!-- end row -->
</div> <!-- end explainer-container -->

<hr class="wide-hr signup-hr" style="width: 100%; margin-top: 60px;">

<div class="row">

  <div class="col-sm-3"></div>

  <div class="col-lg-3">
    <div class="input-group input-group-lg">
      <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
      <input type="text" class="form-control" placeholder="Name">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-3 -->

  <div class="col-lg-3">
    <div class="input-group input-group-lg">
      <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
      <input type="text" class="form-control" placeholder="Email">
    </div>
  </div><!-- /.col-lg-3 -->

  <div class="col-sm-3"></div>

</div><!-- /.row -->

<a class="btn green-btn-wide">Subscribe for Updates</a>

<hr class="wide-hr" style="width: 100%">

<div class="testimonial-container row">

  <div class="col-sm-3"></div>

  <div class="col-sm-2 testimonial">
    <i class="fa fa-quote-left fa-md"></i>This is how the game was meant to be watched!<i class="fa fa-quote-right fa-md"></i> -&nbsp;Rascal Jones
  </div>

  <div class="col-sm-2 testimonial">
    <i class="fa fa-quote-left fa-md"></i>This app rocks! I love watching sports with my local Steeler Nation!<i class="fa fa-quote-right fa-md"></i>-&nbsp;Nick Danger
  </div>

  <div class="col-sm-2 testimonial">
    <i class="fa fa-quote-left fa-md"></i>Wings, beer, sports, and friends.  What's not to love?!&nbsp;<i class="fa fa-quote-right fa-md"></i> -&nbsp;John Doe
  </div>

  <div class="col-sm-3"></div>

</div>


<%= javascript_include_tag "home_page_parallax" %>
