      <div id="wrapper">
         <header id="header">
            <div class="container banner">
               <nav class="navbar navbar-default">
                  <div class="container-fluid">
                     <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                           <span class="sr-only">Toggle navigation</span>
                           <span class="icon-bar"></span>
                           <span class="icon-bar"></span>
                           <span class="icon-bar"></span>
                        </button>
                     </div>
                     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                           <li><a href="#"><i class="fa fa-user"></i>Login</a></li>
                           <li><a href="#">Signup</a></li>
                           <li><a href="#">How It Works</a></li>
                           <li><a href="#">FAQ</a></li>
                        </ul>
                     </div>
                  </div>
               </nav>
               <div class="logo">
                  <%= image_tag "vendor/logo.png"%>
               </div>
               <div class="top-btn col-lg-6 col-md-6 col-sm-12 pull-right">
                  <button type="button" class="btn btn-green btn-default">Find a Watch Party</button>
                  <button type="button" class="btn btn-green btn-default">Create a Watch Party</button>
               </div>
               <div class="clearfix"></div>
               <div class="col-md-5 col-sm-6 col-xs-12 caption_img">
                  <%= image_tag "vendor/banner_app.png", class: "img-responsive" %>
               </div>
               <div class="col-md-6 col-sm-6 col-xs-12 caption">
                  <h2>Connect with sports fans,</h2>
                  <h2> discover local watch parties,</h2>
                  <h2> and <span>get promotions</span> from local sports bars.</h2>
                  <button type="button" class="btn ">
                     <%= image_tag "vendor/ios_btn.png", class: "img-responsive" %>
                  </button>
                  <button type="button" class="btn ">
                     <%= image_tag "vendor/android_btn.png", class: "img-responsive" %>
                  </button>
               </div>
            </div>
         </header>
         <div class="form-area">
            <div class="container">
               <div class="col-md-4">
                  <span>Sign up For an FFN Account</span>
               </div>
               <div class="col-md-8 row">
                  <form class="form-inline">
                     <div class="email form-group">
                        <input type="email" class="email form-control" id="exampleInputEmail2" placeholder="Email Address">
                     </div>
                     <div class="form-group">
                        <input type="password" class="form-control" id="exampleInputName2" placeholder="Password">
                     </div>
                     <button type="submit" class="btn btn-green btn-default">Sign Up</button>
                  </form>
               </div>
            </div>
         </div>
         <section id="Venues">
            <div class="sider-bar col-md-2 row">
               <ul>
                  <li class="active"><a href="#">Venues</a></li>
                  <li><a href="#">Alumni Groups</a></li>
                  <li><a href="#">Sports Fans</a></li>
               </ul>
            </div>
            <div class="container main">
               <div class="col-md-offset-1 col-md-8 col-sm-offset-1 col-sm-8 col-xs-offset-2 col-xs-10">
                  <h2>Venues</h2>
               </div>
               <div class=" col-md-5  col-sm-5  col-xs-12 text-areaa">
                  <p>Attract and retain sports fans of all kind. Create food and drink specials for fans, know the RSVP count and what 
                     they're craving. Make those sports subscription
                     packages generate revenue for you by knowing exactly what game fans want to see. Your life just got easier on Game Day!
                  </p>
               </div>
               <div class="col-md-3 col-sm-3 text-center btn-box">
                  <button type="button" class="btn btn-green btn-default">START YOUR PROFILE NOW</button>
               </div>
               <div class="col-md-offset-2 col-sm-offset-2 col-md-8 col-sm-10">
                  <div class="four-col">
                     <div class="col-md-3 col-sm-3 text-center mb15">
                        <div class="image-holder">
                           <%= image_tag "vendor/icon1.png", class: "img-responsive", alt: "icon" %>
                        </div>
                        <p>Sign up and create
                           a profile
                        </p>
                     </div>
                     <div class="col-md-3 col-sm-3 text-center mb15">
                        <div class="image-holder">
                           <%= image_tag "vendor/icon2.png", class: "img-responsive", alt: "icon" %>
                        </div>
                        <p>Create watch parties and special food and drink packages to be ordered by fans through Foam Finger Nation</p>
                     </div>
                     <div class="col-md-3 col-sm-3 text-center mb15">
                        <div class="image-holder">
                           <%= image_tag "vendor/icon3.png", class: "img-responsive", alt: "icon" %>
                        </div>
                        <p>Use our multigame scheduler to create more than one watch party at a time</p>
                     </div>
                     <div class="col-md-3 col-sm-3 text-center mb15">
                        <div class="image-holder">
                           <%= image_tag "vendor/icon4.png", class: "img-responsive", alt: "icon" %>
                        </div>
                        <p>Enjoy attracting a new and dedicated fan base game after game!</p>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section id="alumni_groups">
            <div class="container main">
               <div class=" col-md-5  col-sm-5  col-xs-12 text-areaa">
                  <h2>Venues</h2>
                  <p>Attract and retain sports fans of all kind. Create food and drink specials for fans, know the RSVP count and what 
                  </p>
                  <div>
                     <button type="button" class="btn btn-black btn-default">START YOUR PROFILE NOW</button>
                  </div>
               </div>

               <div class="col-md-4 col-sm-5 col-xs-12 list-area">
                  <ul class="list-unstyled">
                     <li>
                        <div class="col-md-2 col-sm-2 col-xs-2"><%= image_tag "vendor/icon-pen.png" %></div>
                     </span>
                     <div class="text col-md-9 col-sm-9 col-xs-9 pull-right">Sign up and create an alumni page</div>
                  </li>
                  <li>
                     <div class="col-md-2 col-sm-2 col-xs-2"><%= image_tag "vendor/icon-msg.png" %></div>
                     <div class="text col-md-9 col-sm-9 col-xs-9 pull-right">Invite alumni members to Foam
                        Finger Nation
                     </div>
                  </li>
                  <li>
                     <div class="col-md-2 col-sm-2 col-xs-2"><%= image_tag "vendor/icon-at.png" %></div>
                     <div class="text col-md-9 col-sm-9 col-xs-9 pull-right">Post watch parties and encourage
                        members to pre-purchase watch
                        party vouchers for discounted food
                        and drink during the game
                     </div>
                  </li>
                  <li>
                   <div class="col-md-2 col-sm-2 col-xs-2"><%= image_tag "vendor/icon-amt.png"%></div>
                   <div class="text col-md-9 col-sm-9 col-xs-9 pull-right">Fan up and get paid from Foam
                     Finger Nation!
                  </div>
               </li>
            </ul>
         </div>
         <div class="clearfix"></div>
         <div class="col-md-8 col-md-offset-2 bootom_img">
            <%= image_tag "vendor/bottom_bgv.png", class: "img-responsive" %>
         </div>
      </div>
   </section>
   <section id="sports">
      <div class="container main">
         <div class="col-md-offset-1 col-md-8 col-sm-offset-1 col-sm-8 col-xs-offset-2 col-xs-10">
            <h2>Sports Fans</h2>
         </div>
         <div class=" col-md-5 1 col-sm-5  col-xs-10 text-areaa">
            <p>Attract and retain sports fans of all kind. Create food and drink specials for fans, know the RSVP count and what 
               they're craving. Make those sports subscription
               packages generate revenue for you by knowing exactly what game fans want to see. Your life just got easier on Game Day!
            </p>
         </div>
         <div class="col-md-3 col-sm-3 text-center">
            <button type="button" class="btn btn-green btn-default">START YOUR PROFILE NOW</button>
         </div>
         <div class="col-md-offset-2 col-sm-offset-2 col-md-10 col-sm-10">
            <div class="four-col">
               <div class="col-md-3 col-sm-3 text-center mb15">
                  <div class="image-holder">
                     <%= image_tag "vendor/icon1.png", class: "img-responsive", alt: "icon"  %>
                  </div>
                  <p>Sign up and create
                     a profile
                  </p>
               </div>
               <div class="col-md-3 col-sm-3 text-center mb15">
                  <div class="image-holder">
                     <%= image_tag "vendor/icon2.png", class: "img-responsive", alt: "icon"  %>
                  </div>
                  <p>Create watch parties and special food and drink packages to be ordered by fans through Foam Finger Nation</p>
               </div>
               <div class="col-md-3 col-sm-3 text-center mb15">
                  <div class="image-holder">
                     <%= image_tag "vendor/icon3.png", class: "img-responsive", alt: "icon" %>
                  </div>
                  <p>Use our multigame scheduler to create more than one watch party at a time</p>
               </div>
            </div>
         </div>
      </div>
   </section>
   <footer id="footer">
      <div class="container">
         <div class="row">
            <div class="col-md-4 col-sm-12">
               <p>Copyright 2015 Foam Fingear Nation, LLC</p>
            </div>
            <div class="col-md-4 col-sm-12 ">
               <div class="input-group">
                 <input type="text"  class="form-control input-lg" id="search-church" placeholder="Email Address">
                 <span class="input-group-btn">
                    <button class="btn btn-lg" type="button">SIGN UP</button>
                 </span>

              </div>
           </div>
           <div class="col-md-4 col-sm-12 ">
            <a href="#">Privacy * Terms</a>
         </div>
      </div>
   </div>
</footer>
</div>
<!--
<script type="text/javascript">
   $(function() {
     $('.picZoomer').picZoomer();

     $('.piclist li').on('click',function(event){
       var $pic = $(this).find('img');
       $('.picZoomer-pic').attr('src',$pic.attr('src'));
    });
  });
</script>
<script type="text/javascript">
   if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
      var msViewportStyle = document.createElement('style')
      msViewportStyle.appendChild(
         document.createTextNode(
            '@-ms-viewport{width:auto!important}'
            )
         )
      document.querySelector('head').appendChild(msViewportStyle)
   }
   $('#accordion').on('hidden.bs.collapse', function () {
         //do something...
      })

   $('#accordion .accordion-toggle').click(function (e){
      var chevState = $(e.target).siblings("i.indicator").toggleClass('glyphicon-chevron-down  glyphicon-chevron-right');
      $("i.indicator").not(chevState).removeClass("glyphicon-chevron-down").addClass("glyphicon-chevron-right");
   });

</script>
-->

