<section class="form-area">
  <div class="container">
    <% unless current_user %>
      <div class="col-md-12">
        <span>Sign up For a FFN Account</span>
      </div>
      <div class="col-md-12 row">
        <%= form_for(@user, :url => account_path, method: :post, :html => { :class => "form-inline" }) do |f| %>
          <div class=" form-group">
            <%= f.text_field :username, :class => "email form-control #{'error' if @user.errors[:username]}", :placeholder =>'Username' %>
          </div>
          <div class=" form-group">
            <%= f.email_field :email, :class => "email form-control", :placeholder =>'Email Address' %>
          </div>
          <div class="form-group">
            <%= f.password_field :password, :class => "form-control", :placeholder =>'Password' %>
          </div>
          <div class="form-group">
            <%= f.password_field :password_confirmation, :class => "form-control", :placeholder =>'Password confirmation' %>
          </div>
          <div class="form-group">
           <%= f.select(:requested_role, User::REQUESTED_ROLES, {}, { :class => 'form-control' }) %>
          </div>
          <div class="form-group">
            <div class="input">
              <button class="btn btn-green btn-default" type="submit">Sign up</button>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
<section id="Venues">
  <div class="side-bar col-md-2 row scroll_to_div" id="side_bar_fx">
    <ul>
      <li class="side_active" id="ven"><%= link_to( "Venues", "#Venues", class: "scroll_to" ) %></li>
      <li id="al"><%= link_to( "Alumni Groups", "#alumni_groups", class: "active scroll_to" ) %></li>
      <li id="sp"><%= link_to( "Sports Fans", "#sports", class: "scroll_to" ) %></li>
    </ul>
  </div>
  <div class="container main">
    <div class="col-md-offset-1 col-md-8 col-sm-offset-1 col-sm-8  col-xs-12">
      <h2>Venues</h2>
    </div>
    <div class=" col-md-5  col-sm-5  col-xs-12 text-areaa">
      <p>Attract and retain sports fans. Create food and drink specials for fans, know the RSVP count and what 
        they're craving. Make those sports subscription
        packages generate revenue for you by knowing exactly what game fans want to see. Your life just got easier on Game Day!
      </p>
    </div>
    <div class="col-md-3 col-sm-3 text-center btn-box">
      <%= link_to("START YOUR PROFILE NOW", new_user_registration_path, class: "btn btn-green btn-default")%>
    </div>
    <div class="col-md-offset-2 col-sm-offset-2 col-md-8 col-sm-10">
      <div class="four-col">
        <div class="col-md-3 col-sm-3 text-center mb15">
          <div class="image-holder">
            <%= image_tag "vendor/icon1.png", class: "img-responsive", alt: "icon" %>
          </div>
          <p>Sign up and create
            a profile
          </p>
        </div>
        <div class="col-md-3 col-sm-3 text-center mb15">
          <div class="image-holder">
            <%= image_tag "vendor/icon2.png", class: "img-responsive", alt: "icon" %>
          </div>
          <p>Create watch parties and special food and drink packages to be ordered by fans through Foam Finger Nation</p>
        </div>
        <div class="col-md-3 col-sm-3 text-center mb15">
          <div class="image-holder">
            <%= image_tag "vendor/icon3.png", class: "img-responsive", alt: "icon" %>
          </div>
          <p>Use our multigame scheduler to create more than one watch party at a time</p>
        </div>
        <div class="col-md-3 col-sm-3 text-center mb15">
          <div class="image-holder">
            <%= image_tag "vendor/icon4.png", class: "img-responsive", alt: "icon" %>
          </div>
          <p>Enjoy attracting a new and dedicated fan base game after game!</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="alumni_groups">
  <div class="container main">
    <div class=" col-md-5  col-sm-5  col-xs-12 text-areaa">
      <h2>Alumni Groups</h2>
      <p>Generate revenue for your Alumni Group by organizing and promoting watch parties on Foam Finger Nation!
      </p>
      <div>
        <%= link_to("CREATE YOUR ALUMNI PAGE", new_user_registration_path, class: "btn btn-black btn-default")%>
        <%= link_to("DEMO", "https://calendly.com/foamfinger/foam-finger-nation-demo", class: "btn btn-black btn-default")%>
      </div>
    </div>

    <div class="col-md-4 col-sm-5 col-xs-12 list-area">
      <ul class="list-unstyled">
        <li>
          <div class="col-md-2 col-sm-2 col-xs-2"><%= image_tag "vendor/icon-pen.png" %></div>
          <div class="text col-md-9 col-sm-9 col-xs-9 pull-right">Sign up and create an alumni page</div>
        </li>
        <li>
          <div class="col-md-2 col-sm-2 col-xs-2"><%= image_tag "vendor/icon-msg.png" %></div>
          <div class="text col-md-9 col-sm-9 col-xs-9 pull-right">Invite alumni members to Foam
            Finger Nation
          </div>
        </li>
        <li>
          <div class="col-md-2 col-sm-2 col-xs-2"><%= image_tag "vendor/icon-at.png" %></div>
          <div class="text col-md-9 col-sm-9 col-xs-9 pull-right">Post watch parties and encourage
            members to pre-purchase watch
            party vouchers for discounted food
            and drink during the game
          </div>
        </li>
        <li>
          <div class="col-md-2 col-sm-2 col-xs-2"><%= image_tag "vendor/icon-amt.png" %></div>
          <div class="text col-md-9 col-sm-9 col-xs-9 pull-right">Fan up and get paid from Foam
            Finger Nation!
          </div>
        </li>
      </ul>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-8 col-md-offset-2 bottom_img">
      <%= image_tag "vendor/bottom_bgv.png", class: "img-responsive" %>
    </div>
  </div>
</section>
<section id="sports">
  <div class="container main">
    <div class="col-md-offset-1 col-md-8 col-sm-offset-1 col-sm-8  col-xs-12">
      <h2>Sports Fans</h2>
    </div>
    <div class=" col-md-4 col-sm-5  col-xs-10 text-areaa">
      <p>Find your favorite teams and where they're playing based on your location and don't miss a single play with your fans.
      </p>
    </div>
    <div class="col-md-offset-1 col-md-4 col-sm-3 text-center">
      <%= link_to("START YOUR PROFILE NOW", new_user_registration_path, class: "btn btn-green btn-default")%>
      <%= link_to("DEMO", "https://calendly.com/foamfinger/foam-finger-nation-demo", class: "btn btn-green btn-default")%>
    </div>
    <div class="col-md-offset-2 col-sm-offset-2 col-md-10 col-sm-10">
      <div class="four-col row">
        <div class="col-md-3 col-sm-3 text-center mb15">
          <div class="image-holder">
            <%= image_tag "vendor/icon_write.png", class: "img-responsive", alt: "icon"  %>
          </div>
          <p>Sign up and create
            a profile
          </p>
        </div>
        <div class="col-md-3 col-sm-3 text-center mb15">
          <div class="image-holder">
            <%= image_tag "vendor/icon_search.png", class: "img-responsive", alt: "icon"  %>
          </div>
          <p>Browse and RSVP to watch parties meal packages at a discount</p>
        </div>
        <div class="col-md-3 col-sm-3 text-center mb15">
          <div class="image-holder">
            <%= image_tag "vendor/icon4.png", class: "img-responsive", alt: "icon"  %>
          </div>
          <p>Attend watch parties at venues and enjoy games with your fans!</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <script type="text/javascript">
  $(function() {
  $('.picZoomer').picZoomer();

  $('.piclist li').on('click',function(event){
  var $pic = $(this).find('img');
  $('.picZoomer-pic').attr('src',$pic.attr('src'));
  });
  });
  </script>
  <script type="text/javascript">
  if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
  var msViewportStyle = document.createElement('style')
  msViewportStyle.appendChild(
  document.createTextNode(
  '@-ms-viewport{width:auto!important}'
  )
  )
  document.querySelector('head').appendChild(msViewportStyle)
  }
  $('#accordion').on('hidden.bs.collapse', function () {
  //do something...
  })

  $('#accordion .accordion-toggle').click(function (e){
  var chevState = $(e.target).siblings("i.indicator").toggleClass('glyphicon-chevron-down  glyphicon-chevron-right');
  $("i.indicator").not(chevState).removeClass("glyphicon-chevron-down").addClass("glyphicon-chevron-right");
  });

</script>
-->
<%= javascript_include_tag "home_page_parallax" %>
