<div class="bg"></div>
<div class="transparent container">
  <div class="row">
    <div class="col-lg-12">
      <div class="logo-container">
        <%= image_tag "logo_firstpage.png", id: "hero-logo" %>
      </div>
    </div>
  </div>
</div>

<div class="container transparent">
  <div class="row">
    <div class="col-lg-4">
      <hr id="left">
    </div>

    <div class="col-lg-4">
      <div class="where-my-fans">Where my fans at?</div>
      <div class="where-my-fans subtitle">Watch Parties & Promos</div>
    </div>

    <div class="col-lg-4">
      <hr id="right">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <div class="button-container">
      <%= image_tag( "rsz_itunes_download_button.png", :class=>"apple-download-button",  :alt=>"Download on iTunes")%>
      <%= image_tag( "rsz_google_play_download_button.png", :class=>"android-download-button",  :alt=>"Download on Google Play")%>
    </div>
      <p class="where-my-fans hero-paragraph">
        Connect with sports fans, discover watch parties in your area,
        and redeem valuable promotions from your favorite local sports bars.
      </p>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>

<!-- Main jumbotron -->
<div class="jumbotron">
  <div class="transparent container">
    <div class="row">
      <h1 id="large-centered-green-text">Find a Watch Party</h1>
      <%= form_for :search, url: search_parties_path, method: :get, html: { id: 'home-page-search'} do |f| %>
      <div class="col-sm-6">
          <%= text_field "party","search_item", class: 'form-control input-lg', placeholder: "Team or Venue", value: params[:party].blank? ? "" : params[:party][:search_item] %>
      </div><!-- /.col-lg-6 -->

      <div class="col-sm-6">
        <div class="input-group" id="search-where">
          <%= text_field "party","search_location", class: "form-control input-lg", placeholder: "Where", value: params[:party].blank? ? "" : params[:party][:search_location] %>
          <span class="input-group-btn">
            <%= f.submit "Go", :class=>"btn btn-default btn-lg"%>
            <!-- <button class="btn btn-default" type="button">Go!</button> -->
        </div><!-- /input-group -->
      </div>
      <% end %>
    </div>
  </div> <!-- end form container -->
</div> <!-- end jumbotron -->

<div class="explainer-wrapper">
  <div class="transparent explainer-container">

    <div class="row">
      <div class="col-xs-1"></div>
      <div class="col-xs-10">
        <h1 class="explainer-title">Sports Fans</h1>
        <hr class="explainer-title-rule">
      </div>
      <div class="col-xs-1"></div>
    </div>

    <div class="row">

      <div class="col-xs-12 col-md-9">
        <p class="explainer-paragraph">
          Foam Finger Nation makes it easy to find where your team’s games are playing no matter where you are so you can enjoy the thrill of victory or the agony of defeat with your fans. Search for watch parties, RSVP, purchase discounted food and drink packages, and enjoy the game!

          Only 3 simple steps to be part of the NATION!
          <span class="home-page-list">Sign up, create a profile, and subscribe to teams</span>
          <span class="home-page-list">Browse for watch parties and RSVP, purchase food and drink packages  at  a discount</span>
          <span class="home-page-list">Attend watch parties at awesome venues and enjoy games with your fans!</span>
        </p>
      </div>

      <div class="col-md-3">
          <%= image_tag("rsz_fan-foam-finger.png", class: "explainer-image") %>
      </div>
    </div> <!-- end row -->

    <div class="row">
      <div class="col-xs-1"></div>
      <div class="col-xs-10">
        <hr class="explainer-title-rule">
        <span class="sounds-awesome">Sounds pretty awesome, huh?</span>
        <%= link_to("Sign Up", new_user_registration_path, class: "btn green-btn")%>
      </div>
      <div class="col-xs-1"></div>
    </div>
  </div> <!-- end explainer-container -->

  <div class="transparent explainer-container">
    <div class="row">
      <div class="col-xs-1"></div>
      <div class="col-xs-10">
        <h1 class="explainer-title">Alumni Groups</h1>
        <hr class="explainer-title-rule">
      </div>
      <div class="col-xs-1"></div>
    </div>

    <div class="row">
      <div class="col-md-3">
          <%= image_tag("rsz_watch_party.jpg", class: "explainer-image") %>
      </div>
      <div class="col-xs-12 col-md-9">
        <p class="explainer-paragraph">
          Generate revenue from your school’s watch parties. Foam Finger Nation makes it easy for alumni groups to organize and promote watch parties.

          Best of all we make it easy for alumni groups to generate revenue without changing their current game watching parties!

          Only 4 simple steps to be part of the NATION!

          <span class="home-page-list">Sign up and create an alumni page</span>
          <span class="home-page-list">Invite alumni members to Foam Finger Nation</span>
          <span class="home-page-list">Post watch parties and encourage members to pre-purchase watch party vouchers for discounted food and drink during the game</span>
          <span class="home-page-list">Fan up and get paid from Foam Finger Nation!
        </p>
      </div>
    </div><!-- end row -->
    <div class="row">
      <div class="col-xs-1"></div>
      <div class="col-xs-10">
        <hr class="explainer-title-rule">
        <span class="sounds-awesome">Sounds pretty awesome, huh?</span>
        <%= link_to("Sign Up", new_user_registration_path, class: "btn green-btn")%>
      </div>
      <div class="col-xs-1"></div>
    </div>
  </div> <!-- end explainer-container -->

  <div class="transparent explainer-container">

    <div class="row">
      <div class="col-xs-1"></div>
      <div class="col-xs-10">
        <h1 class="explainer-title">Venues</h1>
        <hr class="explainer-title-rule">
      </div>
      <div class="col-xs-1"></div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-9">
        <p class="explainer-paragraph">
          Easily find sports fans and create watch parties. Attract and retain large groups of college and pro sports fans game after game.

          Use Foam Finger Nation to create food and drink specials for fans and know how many fans are coming to each watch party or what they want to eat or drink. Make those expensive sports subscription packages generate revenue for you by knowing exactly what game fans want to see.

          Your life just got easier on Game Day!

          Only 4 simple steps to join the NATION!

          <span class="home-page-list">Sign up and create a profile</span>
          <span class="home-page-list">Create watch parties and special food and drink packages to be ordered by fans through Foam Finger Nation</span>
          <span class="home-page-list">Use our multigame scheduler to create more than one watch party at a time</span>
          <span class="home-page-list">Enjoy attracting a new and dedicated fan base game after game!</span>
        </p>
      </div>

      <div class="col-md-3">
          <%= image_tag("rsz_sports-bar-windsor.jpg", class: "explainer-image") %>
      </div>

    </div> <!-- end row -->
    <div class="row">
      <div class="col-xs-1"></div>
      <div class="col-xs-10">
        <hr class="explainer-title-rule">
        <span class="sounds-awesome">Sounds pretty awesome, huh?</span>
        <%= link_to("Sign Up", new_user_registration_path, class: "btn green-btn")%>
      </div>
      <div class="col-xs-1"></div>
    </div>
  </div> <!-- end explainer-container -->
</div>
<hr class="wide-hr signup-hr" style="width: 100%; margin-top: 60px;">

<div class="row">

  <div class="col-lg-3"></div>

  <div class="col-lg-3">
    <div class="input-group input-group-lg">
      <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
      <input type="text" class="form-control" placeholder="Name">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-3 -->

  <div class="col-lg-3">
    <div class="input-group input-group-lg">
      <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
      <input type="text" class="form-control" placeholder="Email">
    </div>
  </div><!-- /.col-lg-3 -->

  <div class="col-lg-3"></div>

</div><!-- /.row -->

<a class="btn green-btn green-btn-wide">Subscribe for Updates</a>

<hr class="wide-hr" style="width: 100%">

<div class="testimonial-container transparent row">

  <div class="col-sm-3"></div>

  <div class="col-sm-2 testimonial">
    <i class="fa fa-quote-left fa-md"></i>This idea is amazing. I love the FFN site.<i class="fa fa-quote-right fa-md"></i>-&nbsp;D.&nbsp;Sifford
  </div>

  <div class="col-sm-2 testimonial">
    <i class="fa fa-quote-left fa-md"></i>That is a great idea. I've spent the last 8 years searching for a Chiefs bar in Denver.<i class="fa fa-quote-right fa-md"></i> -&nbsp;A.&nbsp;Nolte
  </div>

  <div class="col-sm-2 testimonial">
    <i class="fa fa-quote-left fa-md"></i>Love, love, love the idea of Foam Finger Nation!&nbsp;<i class="fa fa-quote-right fa-md"></i> -&nbsp;P.&nbsp;Bridgett
  </div>

  <div class="col-sm-3"></div>

</div>


<%= javascript_include_tag "home_page_parallax" %>
