<h2>Your Watch Party is coming up!</h2>

<p>
  <%= @party.name %><br>
  Team: <%= @party.team.name %><br>
  When: <%= @party.scheduled_for %><br>
  Where:<br>
    <%= @party_address.street1 %> <%= @party_address.street2 %><br>
    <%= @party_address.city %>, <%= @party_address.state %> <%= @party_address.zip %><br>
</p>

<p>You can view your Watch Party <a href=<%= @url %>>here</a></p>


