
<div class="venue-parties">

    <h2 class="header">Upcoming Parties</h2> 

    <% parties.each do |party| %>

      		<div class="venue-party-card-wrapper">
                  <div class="card">
                    <div class="padding">

                        <%= link_to party, class:"a-none" do %>
                        <div class="holder">
                            <% if !party.image_url.blank? %>
                              <%= image_tag(party.image_url, class: "img-responsive center", title: "party") %>
                            <% else %>
                              <img src='<%= asset_path 'placeholder.png' %>' title="party" alt="party" class="img-responsive center"/>
                            <% end %>
                          </div>
                          
                          <div class="caption">
                            <h3> <%= party.name rescue "" %> </h3>
                            <br/>

                            <%= party.sponsor if party.present? %>


                            <ul class="list-inline ">
                              <li><%= party.scheduled_for.strftime("%A, %d %b %Y %l:%M %p") rescue "" %></li>
                              <li><%= party.venue.address.city_state rescue "" %></li>
                            </ul>
                          </div> <!-- END caption -->

                          <% if party.present?  %>
                            <% if !party.description.nil? %>
                              <div class="party_desc">
                                <p><%= party.description.truncate(100) rescue "" %></p>
                              </div>
                            <% end %>
                          <% end %>
                        <% end %> <!--end link -->

                    </div> <!-- END padding -->

                    <div class="bottom">
                        <div class="inline-block">

                          <a style="margin: 0 10px 0 10px" 
                              title=<%= party.name %> 
                              href="http://www.foamfingernation.com/parties/"<%=party.friendly_url%> 
                              class=" tweet btn btn-green btn-circle" target="_blank"><i class="fa fa-twitter"></i>
                          </a>

                          <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.foamfingernation.com/parties/"<%=party.friendly_url%> 
                              title=<%= party.name %> 
                              target="_blank" 
                              class="btn btn-green btn-circle btn-facebook" 
                              target="_blank"><i class="fa fa-facebook"></i>
                          </a>

                        </div>
                    </div> <!-- END bottom -->
                  </div>
          </div>

      <% end %>

</div>