
<h2 class="right-header-packages">Specials</h2> 

<% packages.each do |package| %>

  <% if package.for_everyone? %>

        <div class="card-package">

            <div class="padding">

                  <div class="holder">
                    
                    <% if !package.image_url.blank? %>

                      <%= image_tag(package.image_url.thumb, class: "img-responsive center", title: "package image") %>

                    <% else %>
                      
                      <img src='<%= asset_path 'beer-flat.png' %>' title="package image" alt="package" class="img-responsive center"/>

                    <% end %>

                    <h3> <%= package.name rescue "" %> </h3>

                  </div>
                  
                  <div class="caption">
                    <p class="description">
                      <%= package.description.truncate(200) rescue "" %>
                    </p>
                  </div> <!-- END caption -->
            </div> <!-- END padding -->

            <div class="bottom">
                
              <!--div class="inline-block" style="    bottom: 0;
                  position: absolute;
                    padding: 15px; ">
                <a class="btn btn-green btn-default" href="/parties/search">Redeem</a>
              </div-->

              <% if !package.price.nil? %>
                <% price = package.price %>
              <%else%>
                <% price = 0 %>
              <% end %>

              <% if price > 0 %>
                    <span class="price">$<%= price %></span>
              <% end %>

            </div> <!-- END Bottom -->
        </div>

  <% end %>

<% end %>