<div>
  <div style="padding: 3%;">
	  <%= image_tag(@venue.image_url) unless @venue.image_url.blank? %>
	  <h2><%= @venue.name.upcase %></h2>

	  <p style="margin: 0; font-size: 12px;"><%= @venue.address.street %></p>
	  <p style="margin: 0; font-size: 12px;"><%= @venue.address.city_state %></p>
	  <p style="margin: 0; font-size: 12px;"><%= @venue.phone %></p>
	  <p style="margin: 0; font-size: 12px;"><%= mail_to @venue.email %></p>
	  <p style="margin: 0; font-size: 12px;"><%= link_to 'Visit Website', @venue.website if @venue.website %></p>
  </div>
</div>