<div>
  <div style="padding: 3%;">

  	<% if !@venue.image_url.blank? %>
	  	<%= image_tag(@venue.image_url) %>
	<% else %>
		<img alt="Placeholder" class="img-responsive center" src="/assets/placeholder-48fa3ed0cb9d3fdedc0b91ad30a9f61e.png" 
		style="max-width: 95% !important;
		height: 55px;
		border-radius: 50%;
		overflow: hidden;">
    <% end %>

	  <h2><%= @venue.name.upcase %></h2>

	  <p style="margin: 0; font-size: 12px;"><%= @venue.address.street %></p>
	  <p style="margin: 0; font-size: 12px;"><%= @venue.address.city_state %></p>
	  <p style="margin: 0; font-size: 12px;"><%= @venue.phone %></p>
	  <p style="margin: 0; font-size: 12px;"><%= mail_to @venue.email %></p>
	  <p style="margin: 0; font-size: 12px;"><%= link_to 'Visit Website', @venue.website if @venue.website %></p>
  </div>
</div>