<%= form_for(@venue) do |f| %>
  <% if @venue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

      <ul>
      <% @venue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group col-md-5">
    <div class="form-group">
      <%= image_tag(@venue.image_url, class: "img-responsive", id: "acc_profile_image") %>
    </div>
    <div class="fileUpload btn btn-green">
    <span>Upload Photo</span>
      <%= f.file_field :image_url, class: "upload" %>
    </div>
  </div>
  <div class = "form-group">
    <%= f.label "Name*" %><br>
    <%= f.text_field :name, class: 'required form-control' %>
  </div>
  <div class = "form-group">
    <%= f.label raw("Description*") %><br>
    <%= f.text_area :description, rows: 3, class: "required form-control" %>
  </div>

  <% if current_user.has_role?(:admin)%>
  
    <%= f.fields_for :address_attributes do |a| %>
      <div class = "form-group">
        <%= a.label "Street1*" %><br>
        <%= a.text_field :street1, class: 'required form-control' %>
      </div>

      <div class = "form-group">
        <%= a.label :street2 %><br>
        <%= a.text_field :street2 , class: 'form-control' %>
      </div>

      <div class = "form-group">
        <%= a.label "City*"%><br>
        <%= a.text_field :city ,class: 'form-control' %>
      </div>

      <div class = "form-group">
        <%= a.label "State*" %><br>
        <%= a.text_field :state, class: 'required form-control' %>
      </div>

      <div class = "form-group">
        <%= a.label "Zip*" %><br>
        <%= a.text_field :zip, class: 'required form-control' %>
      </div>
    <% end %>
  
  	<div class = "form-group">
  		<%= select_tag 'user_id', options_from_collection_for_select(User.order("email ASC"), 'id', 'email', 484), include_blank: true, prompt: 'Add Manager', class: 'form-control' %>
  	</div>
  <% end %>
  
  <div class="actions">
    <%= link_to 'Back', venues_path , class: "btn btn-default" %>
    <%= f.submit  class:"btn btn-success" %>
  </div>
<% end %>
