<%= form_for(@venue) do |f| %>
  <% if @venue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

      <ul>
      <% @venue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= image_tag(@venue.image_url) if @venue.image_url? %>
    <%= f.file_field :image_url %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>

  <%= f.fields_for :address_attributes do |a| %>
    <div class='field'>
      <%= a.label :street1 %><br>
      <%= a.text_field :street1 %>
    </div>

    <div class='field'>
      <%= a.label :street2 %><br>
      <%= a.text_field :street2 %>
    </div>

    <div class='field'>
      <%= a.label :city %><br>
      <%= a.text_field :city %>
    </div>

    <div class='field'>
      <%= a.label :state %><br>
      <%= a.text_field :state %>
    </div>

    <div class='field'>
      <%= a.label :zip %><br>
      <%= a.text_field :zip %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
