<%= form_for(@venue, url: add_manager_venue_path, method: :put, format: :js, remote: true) do |f| %>
  <%= select_tag 'user_id', options_from_collection_for_select(User.all, 'id', 'username'), include_blank: true, prompt: 'select a user to add as venue manager', class: 'form-control' %>
  <br>
  <%= f.submit 'Add manager', class: 'btn btn-success btn-sm pull-right' %>
  <br>
  <br>
  <div id='venue-manager-table'>
    <table class='table table-hover borderless'>
      <% if @venue.managers.any? %>
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Location</th>
            <th>Remove</th>
          </tr>
        </thead>
      <% else %>
        <h4>No managers assigned for this venue</h4>
      <% end %>
      <tbody>
        <% @venue.managers.each do |manager| %>
          <tr>
            <td><%= image_tag(manager.image_url.thumb) unless manager.image_url.blank? %></td>
            <td><%= manager.username %></td>
            <td><%= manager.address.city_state %></td>
            <td>
              <%= link_to(remove_manager_venue_path({user_id: manager}), remote: true, method: :put) do%>
                <i class='fa fa-times fa-2x' style='color: red;'></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
