<div class='panel panel-default'>
  <table class='table table-hover borderless'>
    <% if @venue.packages.any? %>
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Price</th>
          <th>Party Package</th>
        </tr>
      </thead>
    <% else %>
      <h4>No upcoming parties</h4>
    <% end %>
    <tbody>
      <% @venue.packages.each do |package| %>
        <tr>
          <td><%= image_tag(package.image_url.thumb) %></td>
          <td><%= link_to package.name, package_path(package) %></td>
          <td><%= package.price %></td>
          <td>
            <% if !package.for_everyone? %>
                <%= link_to( "Assign to Party", "#{venue_path(package.venue)}/#{package_path(package)}/vouchers/new" ) %>
            <% end %>    
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= Party.party_exist? =>

  <% if @flag %>
    <%= link_to 'New Package', new_venue_packages_path({venue_id: @venue.id, party_id: @party.id}) %>
  <% else %>
    <%= link_to 'New Package', new_venue_packages_path(@venue) %>
  <% end %>
</div>
