<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="sport_header  row">
      <div class="col-md-12">
        <div class="sport_caption col-md-4 pull-right ">
          <h2 class="form-title">Create Account</h2>
        </div>
      </div>
    </div>
    <div class="main-area">
      <div class="row">
        <div id='notice'>
          <%= render :partial => 'layouts/flash' , :locals => { :flash => flash } %>
        </div>
        <div class="follow">
          <div class="col-md-8">
            <%= render partial: 'details' %>
            <h2 class="form-title">Information</h2>
            <%= render "account/form"%>
            <%= render "devise/shared/links"  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='row' style="color:black;">
  <div class='col-xs-3'>
    <div class="details-container">
    </div>
  </div>
  <div class='col-xs-8'>
    <div class='row'>
      <% if (@venue.address.city.present? && @venue.address.state.present?) || @venue.address.zip.present? %>
        <div id="map"></div>
      <% end %>
    </div>
    <div class='row' style='padding-top: 10px;'>
      <h3>Upcoming Parties</h3>
      <% if @venue.upcoming_parties.any? %>
        <%= render partial: 'parties', locals: { parties: @venue.upcoming_parties } %>
      <% else %>
        <%= link_to 'No upcoming parties at this venue, click here to create one!', new_party_path %>
      <% end %>
    </div>
  </div>
</div>

<%= link_to 'Venues', venues_path %>
<% if current_user.present? && current_user.can?(:edit, @venue) %>
  | <%= link_to 'Edit', edit_venue_path(@venue) %>
<% end %>

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @map_markers.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(11)
  });
</script>
