<div id="page-content-wrapper">
  <div>

      <% if (@venue.address.city.present? && @venue.address.state.present?) || @venue.address.zip.present? %>
        <div class="map_holder">
              <div id="map" style='width: 100%; height: 400px;'></div>
        </div>
      <% else %>
        <div class="sport_header_overlay">
          <div class="sport_caption pull-right">
            <img src='<%#= asset_path 'white_foam_finger_icon.png' %>'/>
            <span>Venue <%#= @venue.name %></span>
          </div>
        </div>
        <div class="sport_header  row">
        </div>
      <% end %>

    <div class="main-area">
      <div class="row" style="color:black;">
        <div id='notice'>
          <%= render :partial => 'layouts/flash' , :locals => { :flash => flash } %>
        </div>
        <div>

          <% if current_user.present? && current_user.can?(:edit, @venue) %>
            <!--h2 style="text-align: center;"-->
              <%#= link_to 'Edit', edit_venue_path(@venue), class: "btn btn-green btn-default" %>
            <!--/h2-->
            <div class="col-md-12 text-center footer">
                <strong>
                    <%= link_to 'Edit My Venue Settings', edit_venue_path(@venue) %>
                </strong>
            </div>
          <% end %>

          <div class="col-lg-6 col-md-6 col-sm-12 venue-info" style="padding-top: 1%; padding-left: 3%;">
            <%= render partial: 'details' %>

            <% if @venue.upcoming_parties.any? %>
                  <%= render partial: 'card_parties', locals: {parties: @venue.upcoming_parties} %>
            <% else %>
                  <h2>
                    <%= link_to 'No upcoming parties at this venue, click here to create one!', new_party_path %>  
                  </h2>
            <% end %>
          </div>

          <% if @venue.packages.any? %>
              <div class="col-lg-6 col-md-6 col-sm-12" class="specials">
                  <div class="venue_vertical_line" class="desktop"></div>
                  <%= render partial: 'card_open_packages', locals: {packages: @venue.packages} %>
              </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @map_markers.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(13)
  });

  $(document).ready(function() {

    var venue_info_height = $('.venue-info').outerHeight();
    var venue_specials = $('.specials').outerHeight();

    if(venue_info_height >= venue_specials) {
      $('.venue_vertical_line').css({"height": venue_info_height+"px"});
    } else {
      $('.venue_vertical_line').css({"height": venue_specials+"px"});
    }

  });

</script>