<div id="page-content-wrapper">
  <div class="container-fluid" style="padding: 0">
      <div class="map_holder">
            <% if (@venue.address.city.present? && @venue.address.state.present?) || @venue.address.zip.present? %>
              <div id="map" style='width: 100%; height: 400px;'></div>
            <% end %>
      </div>
    <!--div class="sport_header  row">
      <div class="col-md-12">
        <div class="sport_caption pull-right">
          <img src='<%= asset_path 'white_foam_finger_icon.png' %>'/>
          <span>Venue <%= @venue.name %></span>
        </div>
      </div>
    </div-->
    <div class="main-area">
      <div class="row" style="color:black;">
        <div id='notice'>
          <%= render :partial => 'layouts/flash' , :locals => { :flash => flash } %>
        </div>
        <div>

          <% if current_user.present? && current_user.can?(:edit, @venue) %>
            <!--h2 style="text-align: center;"-->
              <%#= link_to 'Edit', edit_venue_path(@venue), class: "btn btn-green btn-default" %>
            <!--/h2-->
            <div class="col-md-12 text-center footer">
                <strong>
                    <%= link_to 'Edit My Venue Settings', edit_venue_path(@venue) %>
                </strong>
            </div>
          <% end %>

          <div class="col-lg-6 col-md-6 col-sm-12" style="padding-top: 1%; padding-left: 3%;">
            <%= render partial: 'details' %>

            <% if @venue.upcoming_parties.any? %>
                  <%= render partial: 'card_parties', locals: {parties: @venue.upcoming_parties} %>
            <% else %>
                  <%= link_to 'No upcoming parties at this venue, click here to create one!', new_party_path %>
            <% end %>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12">

            <div>
                <div style="height: 100vh;
    border-left: solid #d7d7d7;
    border-width: 0.075em;
    margin-right: 2px;
    margin-top: 50px;
    display: inline-block;
    position: relative;
    float: left;" class="desktop"></div>
                <%= render partial: 'card_open_packages', locals: {packages: @venue.packages} %>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @map_markers.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(11)
  });
</script>
