<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="sport_header  row">
      <div class="col-md-12">
        <div class="sport_caption pull-right ">
          <span><%= @venue.name %></span>
          <img src='<%= asset_path 'white_foam_finger_icon.png' %>'/>
        </div>
      </div>
    </div>
    <div class="main-area">
      <div class="row" style="color:black;">
        <div id='notice'>
          <%= render :partial => 'layouts/flash' , :locals => { :flash => flash } %>
        </div>
        <div class="follow">
          <div class="col-md-8">
            <%= render partial: 'details' %>
            <div class="map_holder">
              <% if (@venue.address.city.present? && @venue.address.state.present?) || @venue.address.zip.present? %>
                <div id="map" style='width: 100%; height: 200px;'></div>
              <% end %>
            </div>
            <h3>Upcoming Parties</h3>
            <% if @venue.upcoming_parties.any? %>
              <%= render partial: 'parties', locals: { parties: @venue.upcoming_parties } %>
            <% else %>
              <%= link_to 'No upcoming parties at this venue, click here to create one!', new_party_path %>
            <% end %>
            <br>
            <%= link_to 'Venues', venues_path %>
            <% if current_user.present? && current_user.can?(:edit, @venue) %>
              | <%= link_to 'Edit', edit_venue_path(@venue) %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @map_markers.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(11)
  });
</script>
