<div class="form-group">
  <%= f.label :street1, "Address" %>
  <%= f.text_field :street1, class: "form-control", placeholder: "Address" %>
</div>
<div class="row">
  <div class="form-group col-md-4">
    <%= f.text_field :city, class: "form-control", placeholder: "City" %>
  </div>
  <div class="form-group col-md-4">
    <%= f.text_field :state, class: "form-control", placeholder: "State" %>
  </div>
  <div class="form-group col-md-4">
    <%= f.text_field :zip, class: "form-control", placeholder: "Zip" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :ph_number, "Phone Number" %>
  <%= f.text_field :ph_number, class: "form-control", placeholder: "Phone Number" %>
</div>