<div class=" reset_pass ch_location modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h2>GET IN THE 
          GAME!</h2>
        <div class="row reset_pass">
          <%= form_for(@user, url: update_account_path, method: :post) do |f| %>
            <% if @user.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

                <ul>
                <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
            <%= f.hidden_field :id%>
            <div class="col-md-12 col-sm-12">
              <div class="form-group">
                <h5>New Password</h5>
                <%= f.password_field :password, value: "", class: "form-control" %>
              </div>
              <div class="form-group">
                <h5>Confirm New Password</h5>
                <%= f.password_field :password_confirmation, value: "", class: "form-control" %>
              </div>
            </div>
            <div class="text-center">
              <%= f.submit "Reset", class: "btn btn-green btn-default" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>