<div id="wrapper">
  <%= render "layouts/black_side" %>
  <div id="page-content-wrapper">
    <div class="container-fluid">      
      <div class="row">
        <div class="col-md-12">
          <div class="sport_caption">
            <div class="mobile_header">
              <a href="#menu-toggle" class="btn btn-default pull-left " id="menu-toggle"><i class="fa fa-bars"></i> </a>
              <div class="logo pull-left">
                <%= link_to(image_tag("vendor/logo2.png"), root_path, alt: "FFN") %>
              </div>
            </div>
          </div>
          <div class="main-area" style="color:black;">
            <div class="row">
              <div id='notice'>
                <%= render :partial => 'layouts/flash' , :locals => { :flash => flash } %>
              </div>
              <br><br>
              <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xs-offset-0 col-sm-offset-0 col-md-offset-2 col-lg-offset-2" >
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h3 class="panel-title"><%= @user.username %></h3>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-3 col-lg-3 " align="center"><%= image_tag(@user.image_url, class: "img-circle") %></div>
                        <br>
                <!--<div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                  <dl>
                    <dt>DEPARTMENT:</dt>
                    <dd>Administrator</dd>
                    <dt>HIRE DATE</dt>
                    <dd>11/12/2013</dd>
                    <dt>DATE OF BIRTH</dt>
                       <dd>11/12/2013</dd>
                    <dt>GENDER</dt>
                    <dd>Male</dd>
                  </dl>
                </div>-->
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Username</td>
                        <td><%= @user.username %></td>
                      </tr>
                      <tr>
                        <td>First Name</td>
                        <td><%= @user.first_name %></td>
                      </tr>
                      <tr>
                        <td>Last Name</td>
                        <td><%= @user.last_name %></td>
                      </tr>
                      <tr>
                        <td>Name (From Facebook)</td>
                        <td><%= @user.name %></td>
                      </tr>
                      <tr>
                       <tr>
                        <td>Gender</td>
                        <td><%= @user.gender %></td>
                      </tr>
                      <tr>
                        <td>Website</td>
                        <td><%= link_to @user.website, @user.website %></td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td><%= @user.email %></td>
                      </tr>
                      <td>About Me</td>
                      <td><%= @user.about %>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
            <span class="pull-right">
              <%= link_to 'Edit', edit_account_path, class: "btn btn-primary" %>
              <%= link_to 'Home', root_path, class: "btn btn-primary" %>

            </span>
            <br><br>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>