<style type="text/css">
body {overflow-x: hidden}
  .sport_header{
    <% if @u.banner.present? %>
      background: url(<%= asset_path "#{@u.banner_url}" %>) no-repeat center center;
      background-size: cover;
      height: 400px;
    <% else %>
      background: url(<%= asset_path 'sports_banner.png' %>) no-repeat center center;
      background-size: cover;
      height: 400px;
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      filter: grayscale(100%); 
    <% end %>
  }
</style>
  <div id="page-content-wrapper">
    <div>

      <div class="sport_header_overlay">
          <div class="sport_caption pull-right">
            <% display_name =  current_user.first_name + " " + current_user.last_name rescue current_user.username unless current_user.requested_role == "Sports Fan" %>
            <% display_name = current_user.username %>
              <img src='<%= asset_path 'white_foam_finger_icon.png' %>'/>
              <!-- change span to display_name if you like user actual name to render -->
              <span>Profile</span>
            <h4 class="hidden" >800 Followers, 200 Following</h4>
            <button type="button" class="hidden" class="btn btn-green btn-default">Follow</button> 
          </div>
      </div>

      <div class="sport_header  row">
          <button type="button" title="Upload Image" data-toggle="modal" data-target="#wallModal" class="btn btn-green"><i class="fa fa-upload"></i></button>
      </div>

      <div class="main-area">
        <div class="row">
          <div class="follow">
            <div class="col-md-12">
              <h3 class="hidden"><%= @u.gender %>    |    <%= @u.location %>     |    https://www.foamfingernation.com</h3>
              <div class="row">
              <div class="col-md-8">
              <h3><%= @u.about %></h3>
              </div>
              <div class="col-md-4">
              <% add = current_user.address %>
              <% if current_user.requested_role == "Venue" && add.present? %>
              <ul class="address_box">
                <li><strong>Address:</strong> <%= add.street1 %> <%= add.city %> <%= add.state %> <%= add.zip %></li>
                <!-- <li><strong>City:</strong> </li>
                <li><strong>State:</strong> </li>
                <li><strong>Zip:</strong> </li> -->
                <li><strong>Phone  Number:</strong> <%= add.ph_number %></li>
                <li><strong>Website:</strong> <%= link_to current_user.website, current_user.website %></li>
              </ul>
              <% end %>
              </div>
              </div>
              <hr>
              <h3>My Teams</h3>
              <% @teams.try(:each) do |team| %>
                <div style="display: inline-block; margin-right: 25px;">
                <span class= "team-names" style="display: inline-block;"><%= team.name %></span>
                <img src='<%= asset_path "#{team.team_icon}" %>' title="team icon" alt="team icon" class="img-responsive" style="width: 50px; height: 50px; display: inline-block;" />
                </div>
              <% end %>
              <hr>

              <% c = 0 %>
              <% @created_parties.try(:each) do |party| %>


                <% if !party.is_private || (party.is_private && party.organizer_id == current_user.id) %>

                    <% if @created_parties.length > 0 && c == 0 %>
                        <h3>My Watch Parties</h3>
                    <% end %>

                  <div class="card" style="margin: 1%;">
                    <div class="padding">

                        <%= link_to party, class:"a-none" do %>

                          <div class="holder">

                            <% if !party.image_url.blank? %>
                              <%= image_tag(party.image_url, class: "img-responsive center", title: "party") %>
                            <% else %>
                              <img src='<%= asset_path 'placeholder.png' %>' title="party" alt="party" class="img-responsive center"/>
                            <% end %>
                          </div>
                          
                          <div class="caption">
                            <h4> <%= party.name.truncate(65) rescue "" %> </h4>

                            <%= party.sponsor if party.present? %>


                            <ul class="list-inline ">
                              <li><%= party.scheduled_for.strftime("%A, %d %b %Y %l:%M %p") rescue "" %></li>
                              <li><%= party.venue.address.city_state rescue "" %></li>
                            </ul>
                          </div> <!-- END caption -->

                          <% if party.present?  %>
                            <% if !party.description.blank? %>
                              <div class="party_desc">
                                <p><%= party.description.truncate(40) rescue "" %></p>
                              </div>
                            <% end %>
                          <% end %>
                        <% end %>

                    </div> <!-- END padding -->
                  </div>

                <% end %>

                <% c = c+1 %>

              <% end %>
              <hr>              
              <div class="clerfix">
              </div>
              <div class="clearfix"></div>

              <% c = 0 %>
              <% @rvs_parties.try(:each) do |rsv| %>

                <% party = rsv.party %>
                <% if party.present? && party.organizer_id != current_user.id %>

                    <% if @rvs_parties.length > 0 && c==0 %>
                        <h3>Parties I'm Attending</h3>
                    <% end %>

                    <div class="card" style="margin: 1%;">

                      <div class="padding">


                            <%= link_to party, class:"a-none" do %>

                              <div class="holder">

                                <% if !party.image_url.blank? %>
                                  <%= image_tag(party.image_url, class: "img-responsive center", title: "party") %>
                                <% else %>
                                  <img src='<%= asset_path 'placeholder.png' %>' title="party" alt="party" class="img-responsive center"/>
                                <% end %>
                              </div>
                              
                              <div class="caption">
                                <h4> <%= party.name.truncate(65) rescue "" %> </h4>

                                <%= party.sponsor if party.present? %>


                                <ul class="list-inline ">
                                  <li><%= party.scheduled_for.strftime("%A, %d %b %Y %l:%M %p") rescue "" %></li>
                                  <li><%= party.venue.address.city_state rescue "" %></li>
                                </ul>
                              </div> <!-- END caption -->

                              <% if party.present?  %>
                                <% if !party.description.blank? %>
                                  <div class="party_desc">
                                    <p><%= party.description.truncate(40) rescue "" %></p>
                                  </div>
                                <% end %>
                              <% end %>
                            <% end %>


                      </div> <!-- END padding -->

                    </div>
                <% end %>

                <% c = c+1 %>

              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class=" ch_location myparties modal fade" id="wallModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" id = "modalls">
        <h2>Upload Wall Photo</h2>
        <%= form_for(@u, :url => update_profile_picture_path(@u)) do |f| %>
        <label>Banner Image</label>
        <%= f.file_field :banner, :required => true, :id => :banner_upload_field %>
        <%= f.submit "Upload Banner" ,class: "btn btn-green pull-right"%>
        <button type="button" class="btn btn-green pull-right" data-dismiss="modal" style="margin-right: 10px" >Close</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
