<style type="text/css">
body {overflow-x: hidden}
  .sport_header{
    <% if @u.banner.present? %>
      background: url(<%= asset_path "#{@u.banner_url}" %>) no-repeat center center;
      background-size: cover;
      height: 468px;
    <% else %>
      background: url(<%= asset_path 'vendor/Sports_banner.png' %>) no-repeat center center;
      background-size: cover;
      height: 468px;
    <% end %>
  }
</style>
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="sport_header  row">
        <div class="col-md-12">
          <button type="button" title="Upload Image" data-toggle="modal" data-target="#wallModal" class="btn btn-green"><i class="fa fa-upload"></i></button>
          <div class="sport_caption profilename col-md-4 pull-right">
            <% display_name =  current_user.first_name + " " + current_user.last_name rescue current_user.username unless current_user.requested_role == "Sports Fan" %>
            <% display_name = current_user.username %>
            <h2><%= display_name %></h2>
            <h4 class="hidden" >800 Followers, 200 Following</h4>
            <button type="button" class="hidden" class="btn btn-green btn-default">Follow</button> 
          </div>
        </div>
      </div>
      <div class="main-area">
        <div class="row">
          <div class="follow">
            <div class="col-md-12">
              <h3 class="hidden"><%= @u.gender %>    |    <%= @u.location %>     |    foamfingernation.com</h4>
              <h3><%= @u.about %></h3>
              <hr>
              <h3>My Teams</h3>
              <% @teams.try(:each) do |team| %>
                <span class= "team-names"><%= team.name %></span>
              <% end %>
              <hr>
              <h3>My Watch Parties</h3>
              <% c = 0 %>
              <% @created_parties.try(:each) do |party| %>
                <div class="col-sm-6 col-md-4 ">
                  <div class="thumbnail" style="height: 430px;">
                    <div class="cancle_icon">
                    <%= link_to '<i class="fa fa-times"></i>'.html_safe, party, method: :delete, data: { confirm: 'Are you sure?' } %>
                    </div>
                    <div class="holder">
                      <%= image_tag(party.image_url, class: "img-responsive") unless party.image_url.nil? %>
                    </div>
                    <div class="caption">
                    <%= link_to party do %>
                      <h3> <%= party.name %></h3><span><%= party.team.name %></span>
                    <% end %>
                    <!-- /////////////////////////check for verification///////////////// -->
                    <% if party.verified %>
                      <div class="verifie_caption">
                        <div class="image-holder">
                            <img alt="No image" class="img-responsive" src="/assets/vendor/verified_logo.png">
                          </div>
                        <strong class="title" style="font-size: 9px;"><em>Verified</em></strong>
                      </div>
                    <% end %>
                    <!-- /////////////////////////////////end//////////////////////////// -->
                    <br>
                    <%= party.sponsor %>
                    <ul class="list-inline">
                      <li><%= party.scheduled_for.strftime("%A, %d %b %Y %l:%M %p") %></li>
                      <li><%= party.venue.address.city_state %></li>
                    </ul>
                    <%# if reservations_include?(party, current_user) %>
                      <%#= link_to "unRSVP", party_rsvp_path(party), class: "prt_rsvp #{reservations_include?(party, current_user) ? '' : 'hidden_p'}" , id: "unrsvp#{party.id}" %>
                    <%# else %>
                      <!-- <a href="#"  data-toggle="modal" data-target="#myModal" >RSVP</a> -->
                      <%#= link_to "RSVP", party_rsvp_path({id: party.id , flag: 'modall'}), id: "rsvp#{party.id}", class: "prt_rsvp #{reservations_include?(party, current_user) ? 'hidden_p' : ''}", remote: true,"data-toggle" => "modal", 'data-target' => '#myModal' %>
                    <%# end %>
                    <span class="prt_rsvp"> | </span>
                    <%= link_to "View Party Packages", party, class: "prt_rsvp" %>
                    <% if current_user.admin? || current_user.has_role?(:venue_manager, party.venue) %>
                      <span class="prt_rsvp"> | </span>
                      <%= link_to "Create Package", new_venue_packages_path({venue_id: party.venue_id, party_id: party.id}), class: "prt_rsvp" %>
                    <% end %>
                    <span class="prt_rsvp"> | </span>
                    <%= link_to "Edit", edit_party_path(party), class: "prt_rsvp" %>

                  </div>
                  </div>
                </div>
              <% end %>
              <hr>              
              <div class="clerfix">
              </div>
              <div class="clearfix"></div>
              <h3>Parties I'm Attending</h3>
              <% @rvs_parties.try(:each) do |rsv| %>
                <% party = rsv.party %>
                <% if party.present? %>
                  <div class="col-sm-6 col-md-4">
                    <div class="thumbnail" style="height: 430px;">
                      <div class="cancle_icon">
                      <%= link_to '<i class="fa fa-times"></i>'.html_safe, party, method: :delete, data: { confirm: 'Are you sure?' } %>
                      </div>
                      <div class="holder">
                        <%= image_tag(party.image_url, class: "img-responsive") unless party.image_url.nil? %>
                      </div>
                      <div class="caption">
                      <%= link_to party do %>
                        <h3> <%= party.name %></h3><span><%= party.team.name %></span>
                      <% end %>
                      <!-- /////////////////////////check for verification///////////////// -->
                      <% if party.verified %>
                        <div class="verifie_caption">
                          <div class="image-holder">
                              <img alt="No image" class="img-responsive" src="/assets/vendor/verified_logo.png">
                            </div>
                          <strong class="title" style="font-size: 9px;"><em>Verified</em></strong>
                        </div>
                      <% end %>
                      <!-- /////////////////////////////////end//////////////////////////// -->
                      <br>
                      <%= party.sponsor %>
                      <ul class="list-inline">
                        <li><%= party.scheduled_for.strftime("%A, %d %b %Y %l:%M %p") %></li>
                        <li><%= party.venue.address.city_state %></li>
                      </ul>
                      <%# if reservations_include?(party, current_user) %>
                        <%#= link_to "unRSVP", party_rsvp_path(party), class: "prt_rsvp #{reservations_include?(party, current_user) ? '' : 'hidden_p'}" , id: "unrsvp#{party.id}" %>
                      <%# else %>
                        <!-- <a href="#"  data-toggle="modal" data-target="#myModal" >RSVP</a> -->
                        <%#= link_to "RSVP", party_rsvp_path({id: party.id , flag: 'modall'}), id: "rsvp#{party.id}", class: "prt_rsvp #{reservations_include?(party, current_user) ? 'hidden_p' : ''}", remote: true,"data-toggle" => "modal", 'data-target' => '#myModal' %>
                      <%# end %>
                      <span class="prt_rsvp"> | </span>
                      <%= link_to "View Party Packages", party, class: "prt_rsvp" %>
                      <% if current_user.admin? || current_user.has_role?(:venue_manager, party.venue) %>
                        <span class="prt_rsvp"> | </span>
                        <%= link_to "Create Package", new_venue_packages_path({venue_id: party.venue_id, party_id: party.id}), class: "prt_rsvp" %>
                      <% end %>
                      <span class="prt_rsvp"> | </span>
                      <%= link_to "Edit", edit_party_path(party), class: "prt_rsvp" %>

                    </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class=" ch_location myparties modal fade" id="wallModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" id = "modalls">
        <h2>Upload Wall Photo</h2>
        <%= form_for(@u, :url => update_profile_picture_path(@u)) do |f| %>
        <label>Banner Image</label>
        <%= f.file_field :banner, :required => true, :id => :banner_upload_field %>
        <%= f.submit "Upload Banner" ,class: "btn btn-green pull-right"%>
        <button type="button" class="btn btn-green pull-right" data-dismiss="modal" style="margin-right: 10px" >Close</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
