<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <div class="logo">
        <% if !current_user %>
          <%= link_to(image_tag("vendor/logo2.png"), root_path) %>
        <% else %>
          <%= link_to(image_tag("vendor/logo2.png"), root_path) %>
        <% end %>
      </div>
    </li>
    <% if current_user %>
      <li class="profile-area">
        <div class="col-md-4 col-sm-4 col-xs-4">
          <div class="image-holder">
            <% if current_user && current_user.image_url.present? %>
              <%= image_tag current_user.image_url, class: "img-responsive" %>
            <% else %>
              <%= image_tag "vendor/no_image.png", class: "img-responsive"%>
            <% end %>
          </div>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8">
          <ul class="list-unstyled">
            <li>
              <span class="user_name">
                <% if current_user.requested_role == "Sports Fan" %>
                  <% display_name =  current_user.first_name + " " + current_user.last_name rescue current_user.username %>
                <% else %>
                  <% display_name = current_user.username %>
                <% end %>
                <strong><a href="/user/<%= current_user.id %>"><%= display_name %></a></strong>
              </span>
            </li>
            <li>
                <span class="sign_up">
                  <%= link_to n_sign_up_path do %>
                  <i class="fa fa-user"> Not You? Sign Up</i>
                  <% end %>
                </span>
            </li>
            <li>
              <span class="Settings">
                <%= link_to '<i class="fa fa-cog"></i>Settings'.html_safe, edit_account_path, class: "#{'active_p' if controller.controller_name == 'account' && controller.action_name != 'user'}" %>
              </span>
            </li>
            <li>
              <span class="Settings">
                <%= link_to '<i class="fa fa-sign-out"></i>Sign out'.html_safe, destroy_user_session_path, :method => :get%>
                </span>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <!-- <a href="#" data-toggle="modal" data-target="#loc" id="locHref" ><i class="fa fa-map-marker"></i><span id="NewlocUp"><%#= request.location.city rescue ''  %> <%#= request.location.region_name rescue ''  %></span>  <small>(change)</small></a> -->
        <a href="#" data-toggle="modal" data-target="#loc" id="locHref" ><i class="fa fa-map-marker"></i><span id="NewlocUp"><%= current_user.address.city rescue '' %> <%= current_user.address.state rescue '' %></span>  <small>(change)</small></a>
      </li>
      <li class="Watch_Parties">
        <% css1_class = current_page?( parties_path ) ? "active_p" : "" %>
        <!-- <a href="#wparties" class="w_parties"> --><%= link_to '<i class="fa fa-desktop"></i>Watch Parties'.html_safe, parties_path, class: "#{css1_class}" %>
        <ul class="my_Parties <%= 'hidden_p' unless current_page?( parties_path ) %>">
          <li><%= link_to 'My Parties', get_parties_parties_path, remote: true, class:"my_party"%></li>
          <li><a href="#RSVPs" id="rsvp_parties_link" class="my_party">RSVPs</a></li>
          <li><a href="#Waiting" class="my_party">Verify Waiting</a></li>
          <li><a href="#Accepted" class="my_party">Accepted</a></li>
        </ul>
      </li>
      <li>
        <% css1_class = controller.controller_name == 'teams' || current_page?( user_root_path ) ? "active_p" : "" %>
        <!-- <img src="images/hand_icon.png"> -->
        <%= link_to '<i class="fa fa-hand-o-up"></i>Your Teams'.html_safe, favorite_teams_teams_path, class: "#{css1_class}" %>
      </li>
      <li>
        <% css1_class = controller.controller_name == 'vouchers' || current_page?( vouchers_path ) ? "active_p" : "" %>

        <%= link_to '<i class="fa fa-hand-o-up"></i>Your Vouchers'.html_safe, vouchers_path, class: "#{css1_class}" %>
      </li>

	  <% if current_user.managed_venues.any? %>
	  <li>
        <% css1_class = controller.controller_name == 'venues' || current_page?( venues_path ) ? "active_p" : "" %>
		<% if current_user.admin? %>
				<%= link_to '<i class="fa fa-hand-o-up"></i>Manage Venues'.html_safe, venues_path, class: "#{css1_class}" %>
		<% else  %>
				<%= link_to '<i class="fa fa-hand-o-up"></i>My Venues'.html_safe, venues_path, class: "#{css1_class}" %>
		<% end %>
	  </li>
	   <% end %>
	  
      <div class="clearfix"></div>
      <%= link_to( t("Create a Watch Party", :default => "Create Watch Party"), new_party_path, class: "btn btn-green btn-default" ) %>

    <% else %>
      <li class="profile-area">
        <div class="image-holder">
          <%= image_tag "vendor/no_image.png", class: "img-responsive"%>
        </div>
        <span class="">
          <a class="<%= 'active_p' if current_page?( new_user_session_path ) %>" href="<%= new_user_session_path %>" >Login</a>
        </span>
        <span class="">
          <a href="<%= new_registration_path(resource_name) %>" class="<%= 'active_p' if current_page?( new_registration_path(resource_name) ) %>">Sign Up</a>
        </span>
        <span class="">
          <a  href="<%= new_password_path(resource_name) %>" class="<%= 'active_p' if current_page?( new_password_path(resource_name) ) %>">Forgot password?</a>
        </span>
      </li>
    <% end %>
    <li>
      <a target="_blank" href="http://shareasale.com/r.cfm?b=537702&amp;u=1144786&amp;m=7124&amp;urllink=&amp;afftrack="><img src="http://static.shareasale.com/image/7124/All_Leagues_180x150.jpg" border="0" alt="Shop for Official Game Day Gear at Fanatics!" /></a>
    </li>
    <li>
      <div class="copy_right">
        <p>©Copyright Foam Finger, LLC <%= Time.now.year %></p>
      </div>
    </li>
  </ul>
  
</div>
<% if current_user %>
  <%= render partial: '/layouts/location' %>
<% end %>