<div class="<%= "transparent" if current_page?( root_path ) %>">
  <header id="<%= current_page?( root_path ) ? 'header' : 'inner-header'%>">
    <div class="container banner">
    <%#= 'navbar-fixed-top' if current_page?(root_path)%>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
            <!-- <li>
              <a href="#"><i class="fa fa-user"></i>Login</a>
            </li>
            <li><a href="#">Signup</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">How It Works</a></li>
            <li><a href="#">Faq</a></li> -->
              <% unless user_signed_in? %>
                <li class="<%= 'active' if current_page?( new_user_session_path ) %>">
                  <a href="<%= new_user_session_path %>"><i class="fa fa-user"></i>Login</a>
                </li>
                <li class="<%= 'active' if current_page?( new_user_registration_path ) %>">
                  <%= link_to( t("theme.signup", :default => "Sign up"), new_user_registration_path ) %>
                </li>
              <% end %>
              <% if user_signed_in? %>
                  <li class="<%= 'active' if current_page?( teams_path ) %>">
                    <%= link_to( t("Teams", :default => "Teams"), teams_path ) %>
                  </li>
              <% else %>
                <!-- <ul class="nav navbar-nav"> -->
                  <%# if current_page?( root_path )%>
                  <!-- <li>
                    <%#= link_to( "Sports Fans", "#sports-fans" ) %>
                  </li>
                  <li>
                    <%#= link_to( "Alumni Groups", "#alumni-groups" ) %>
                  </li>
                  <li>
                    <%#= link_to( "Venues", "#venues" ) %>
                  </li> -->
                  <%# elsif current_page?( faq_path ) %>
                    <%#= link_to( "Sports Fans", "#{root_path}#sports-fans" ) %>
                  <%# end %>
                <!-- </ul> -->
              <% end %>
              <li class="<%= 'active' if current_page?( about_path )%>" >
                <%= link_to( "About", about_path ) %>
              </li>
              <li class="<%= 'active' if current_page?( how_path ) %>">
                <%= link_to( "How It Works", how_path ) %>
              </li>
              <li class="<%= 'active' if current_page?( faq_path ) %>">
                <%= link_to( t("FAQ", :default => "FAQ"), faq_path ) %>
              </li>
              <% if user_signed_in? %>
              <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <%=current_user.username ? current_user.username : "Menu" %><b class="caret"></b></a>
                <ul class="dropdown-menu inverse-dropdown">
                  <li>
                    <%= link_to( t("theme.profile", :default => "Profile"), account_path ) %>
                  </li>
                  <li>
                    <%= link_to "My Vouchers", vouchers_path %>
                  </li>
                  <li>
                    <%= link_to "My Watch Parties", parties_path %>
                  </li>
                  <% if user_signed_in? && current_user.has_role?(:venue_manager, :any) || current_user.has_role?(:manager, :any) %>
                  <li>
                    <%= link_to "My Venues", venues_path %>
                  </li>
                  <% end %>
                  <% if user_signed_in? && current_user.followed_teams.count > 0%>
                  <li>
                    <%= link_to "My Teams", teams_path %>
                  </li>
                  <% end %>
                  <% if user_signed_in? && current_user.admin? %>
                  <li>
                    <%= link_to 'Manage Admins', users_path %>
                  </li>
                  <li>
                    <%= link_to 'Manage Sports', sports_path %>
                  </li>
                  <% end %>
                  <li>
                    <%= link_to( t("theme.logout", :default => "Sign out"), destroy_user_session_path, :method => :get ) %>
                  </li>
                </ul> <!-- end dropdown-menu -->
              </li> <!-- end dropdown -->
              </ul>
              <% end %>
          </ul>
        </div>
      </div> 
    </nav>
    <div class="logo">
      <% if !current_user %>
        <%= link_to(image_tag("vendor/logo2.png"), root_path) %>
      <% else %>
        <%= link_to(image_tag("vendor/logo2.png"), parties_path) %>
      <% end %>
    </div>
    <div class="top-btn col-lg-10 col-md-10 col-sm-12 pull-right col-xs-12">
      <% if user_signed_in? %>
        <%= link_to( t("Find a Watch Party", :default => "Find Watch Party"), search_parties_path, class: "btn btn-green btn-default" ) %>
        <%= link_to( t("Create a Watch Party", :default => "Create Watch Party"), new_party_path, class: "btn btn-green btn-default" ) %>
        <div class="input-area home row  col-md-6 col-sm-6 col-xs-12">
          <div class="right-inner-addon ">
            <input type="search" class="form-control" placeholder="" id="searchboxh">
            <button class="btn btn-default" type="button" id = "searchButtonh"><i class="fa fa-search fa-6"></i></button>
          </div>
        </div>
      <% end %>
    </div>
    <div class="clearfix"></div>
    <% if current_page?( root_path )%>
      <div class="col-md-5 col-sm-6 col-xs-12 caption_img">
        <iframe src="https://www.youtube.com/embed/JtxJgztAsKk?autoplay=1" frameborder="0" allowfullscreen></iframe>
        <%#= image_tag "vendor/banner_app.png", class: "img-responsive" %>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 caption">
        <h2>DISCOVER LOCAL WATCH PARTIES,</h2>
        <h2> CONNECT WITH FANS and</h2>
        <h2><span>get promotions</span> from sports bars.</h2>
        <!-- <button type="button" class="btn ">
          <%#= image_tag( "vendor/ios_btn.png", :class=>"apple-download-button img-responsive",  :alt=>"Download on iTunes")%>
        </button>
        <button type="button" class="btn ">
          <%#= image_tag( "vendor/android_btn.png", :class=>"apple-download-button img-responsive",  :alt=>"Download on Google Play")%>
        </button> -->
      </div>
    <% end %>
  </div>
</header>
</div>
