<div class="container <%= "transparent" if current_page?( root_path ) %>">

      <!-- Static navbar -->
      <div class="navbar navbar-inverse <%= 'navbar-fixed-top' if current_page?(root_path)%>" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to(image_tag("foam_finger_logo.png"), root_path, :class=>"navbar-brand") %>
          </div>
          <div class="navbar-collapse collapse">

        <% if user_signed_in? %>
          <ul class="nav navbar-nav">
            <li class="<%= 'active' if current_page?("/") %>">
              <% link_to( t("theme.settings", :default => "Settings"), '#' )%>
            </li>

            <li class="<%= 'active' if current_page?( search_parties_path ) %>">
              <%= link_to( t("Find a Watch Party", :default => "Find Watch Party"), search_parties_path ) %>
            </li>

            <li class="<%= 'active' if current_page?( new_party_path ) %>">
              <%= link_to( t("Create a Watch Party", :default => "Create Watch Party"), new_party_path ) %>
            </li>

            <li class="<%= 'active' if current_page?( teams_path ) %>">
              <%= link_to( t("Teams", :default => "Teams"), teams_path ) %>
            </li>

            <li class="<%= 'active' if current_page?( faq_path ) %>">
              <%= link_to( t("FAQ", :default => "FAQ"), faq_path ) %>
            </li>

          </ul>
        <% else %>
          <ul class="nav navbar-nav">
            <% if current_page?( root_path ) %>
            <li>
              <%= link_to( "Sports Fans", "#sports-fans" ) %>
            </li>
            <li>
              <%= link_to( "Alumni Groups", "#alumni-groups" ) %>
            </li>
            <li>
              <%= link_to( "Venues", "#venues" ) %>
            </li>
            <li>
              <%= link_to( "FAQ", faq_path ) %>
            </li>
            <% end %>

          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="<%= 'active' if current_page?( new_user_registration_path ) %>">
              <%= link_to( t("theme.signup", :default => "Sign up"), new_user_registration_path ) %>
            </li>
            <li class="<%= 'active' if current_page?( new_user_session_path ) %>">
              <a href="<%= new_user_session_path %>">Log In <%= image_tag("fb_navbar_icon.png", :class=>"fb-navbar-login-icon") %></a>
            </li>
          </ul>
        <% end %>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <%=current_user.username ? current_user.username : "Menu" %><b class="caret"></b></a>
              <ul class="dropdown-menu inverse-dropdown">
                <li>
                  <%= link_to( t("theme.profile", :default => "Profile"), account_path ) %>
                </li>
                <li>
                  <%= link_to "My Vouchers", vouchers_path %>
                </li>
                <li>
                  <%= link_to "My Watch Parties", parties_path %>
                </li>
              <% if user_signed_in? && current_user.managed_venues.any? %>
                <li>
                  <%= link_to "My Venues", venues_path %>
                </li>
              <% end %>
              <% if user_signed_in? && current_user.followed_teams.any? %>
                <li>
                  <%= link_to "My Teams", teams_path %>
                </li>
              <% end %>
              <% if user_signed_in? && current_user.admin? %>
                <li>
                  <%= link_to 'Manage Admins', users_path %>
                </li>
                <li>
                  <%= link_to 'Manage Sports', sports_path %>
                </li>
              <% end %>
                <li>
                  <%= link_to( t("theme.logout", :default => "Sign out"), destroy_user_session_path, :method => :get ) %>
                </li>
              </ul> <!-- end dropdown-menu -->
            </li> <!-- end dropdown -->
          <% end %>
        </ul> <!-- end navbar-right -->
      </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
  </div><!-- /.navbar -->
</div><!-- /.container -->
