<div class="container">

      <!-- Static navbar -->
      <div class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to(image_tag("foam_finger_logo.png"), root_path, :class=>"navbar-brand") %>
          </div>
          <div class="navbar-collapse collapse">

        <% if user_signed_in? %>
          <ul class="nav navbar-nav">
            <li class="<%= 'active' if current_page?("/") %>">
              <% link_to( t("theme.settings", :default => "Settings"), '#' )%>
            </li>

            <li class="<%= 'active' if current_page?( parties_path ) %>">
              <%= link_to( t("Watch Parties", :default => "Watch Parties"), parties_path ) %>
            </li>

            <li class="<%= 'active' if current_page?( search_parties_path ) %>">
              <%= link_to( t("Find a Watch Party", :default => "Find a Watch Party"), search_parties_path ) %>
            </li>

            <li class="<%= 'active' if current_page?( new_party_path ) %>">
              <%= link_to( t("Create a Watch Party", :default => "Create a Watch Party"), new_party_path ) %>
            </li>

            <li class="<%= 'active' if current_page?( teams_path ) %>">
              <%= link_to( t("Teams", :default => "Teams"), teams_path ) %>
            </li>

            <li class="<%= 'active' if current_page?( vouchers_path ) %>">
              <%= link_to( t("Vouchers", :default => "Vouchers"), vouchers_path ) %>
            </li>

            <li class="<%= 'active' if current_page?( faq_path ) %>">
              <%= link_to( t("FAQ", :default => "FAQ"), faq_path ) %>
            </li>

          </ul>
        <% else %>
          <ul class="nav navbar-nav">
            <li class="<%= 'active' if current_page?( about_path ) %>">
              <%= link_to( t("About", :default => "About"), about_path ) %>
            </li>
            <li class="<%= 'active' if current_page?( how_path ) %>">
              <%= link_to( t("How it Works", :default => "How it Works"), how_path ) %>
            </li>
            <li class="<%= 'active' if current_page?( faq_path ) %>">
              <%= link_to( t("FAQ", :default => "FAQ"), faq_path ) %>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="<%= 'active' if current_page?( new_user_registration_path ) %>">
              <%= link_to( t("theme.signup", :default => "Sign up"), new_account_path ) %>
            </li>
            <li class="<%= 'active' if current_page?( new_user_session_path ) %>">
              <%= link_to( t("theme.login", :default => "Sign in"), new_user_session_path ) %>
            </li>
          </ul>
        <% end %>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <%=current_user.username ? current_user.username : "Menu" %><b class="caret"></b></a>
              <ul class="dropdown-menu inverse-dropdown">
                <li>
                  <%= link_to( t("theme.profile", :default => "Profile"), account_path ) %>
                </li>
              <% if user_signed_in? && current_user.managed_venues.any? %>
                <li>
                  <%= link_to( t("theme.invite", default: 'My Venues'), venues_path ) %>
                </li>
              <% end %>
              <% if user_signed_in? && current_user.admin? %>
                <li>
                  <%= link_to( t("theme.invite", default: 'Manage Sports'), sports_path ) %>
                </li>
              <% end %>
                <li>
                  <%= link_to( t("theme.logout", :default => "Sign out"), destroy_user_session_path, :method => :get ) %>
                </li>
              </ul> <!-- end dropdown-menu -->
            </li> <!-- end dropdown -->
          <% end %>
        </ul> <!-- end navbar-right -->
      </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
  </div><!-- /.navbar -->
</div><!-- /.container -->
