<%= form_for(@voucher) do |f| %>
  <% if @voucher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@voucher.errors.count, "error") %> prohibited this voucher from being saved:</h2>

      <ul>
      <% @voucher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id, value: current_user.id %>
  </div>
  <div class="field">
    <%= f.label :package_id %><br>
    <%= f.select :package_id, package_selects %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
