<li class=" col-md-12 bb">
  <div class="col-md-12 row">
    <div class=" col-md-offset-1 col-md-2 col-sm-4 col-xs-12">
      <div class="image-holder">
        <%= image_tag(voucher.party.team.image_url, class: "img-responsive") unless voucher.party.nil? || voucher.party.team.nil? %>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 ">
      <h4><%= link_to voucher.package.name, voucher_path(voucher) %></h4>
      <p> <%= voucher.party.name%> :
          <%= voucher.package.total_purchased %> Purchased :
          <%= voucher.package.description %> 
          </p>
    </div>
    <div class="col-md-3 col-sm-2 col-xs-12 mtb25">
      <% unless voucher.redeemed_at.blank? %>
        <a href="#" class="btn btn-green btn-default" onclick="return false;">Redeemed</a>
      <% else %>
        <%= link_to "Redeem", redeem_voucher_path(voucher.id), class: "redeem-btn btn btn-green btn-default",  data: { confirm: 'Are you sure you want to mark this voucher redeemed? It cannot be undone!' } %>
      <% end %>
    </div>
  </div>
</li>





