<div class="voucher">
  
  
  <span class="voucher-information">
	  <span class="voucher-logo">
	    <%= image_tag(voucher.party.team.image_url, size: '50') unless voucher.party.team.image_url.blank? %> 
	  </span>
	  <span class="voucher-party-name">
	    <%= voucher.party.name%> : <%= voucher.package.name %>
	  </span>
	  <span class="voucher-purchased">
	    Purchased - <%= link_to "More information", "#",  :onclick => "toggle_div('hidden_row_#{ voucher.id.to_s}');" %>
	  </span>
  </span>
  
  <span class="voucher-purchase">
	  purchase
  </span>
	
  <span id= "hidden_row_<%= voucher.id.to_s%>" style="display: none;">	
	  <%= voucher.package.description %>
  </span>
  
</div>


<div>
	
	
	

</div>
