<h1>Listing vouchers</h1>


<div class="row">
    <div class="col-md-12 cols">
      <ul class="nav nav-tabs" role="tablist">
        <h2>Vouchers</h2>
        <li class="<%= 'active' if current_page?( vouchers_path(current_user) ) %>"><a href="#redeemable" role="tab" data-toggle="tab">Redeemable</a></li>
        <li><a href="#history" role="tab" data-toggle="tab">History</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="redeemable">
          <h3>Redeemable Vouchers</h1>
          <% @vouchers.each do |voucher| %>
           
              <%= voucher.redeemed %>
              <%= voucher.user %>
              <%= voucher.package %>
              <%= link_to 'Show', voucher %>
              <%= link_to 'Edit', edit_voucher_path(voucher) %>
              <%= link_to 'Destroy', voucher, method: :delete, data: { confirm: 'Are you sure?' } %>
            
          <% end %>
        </div>
        <div class="tab-pane" id="history">
          <h3>History</h1>
          <% @vouchers.each do |voucher| %>
           
              <%= voucher.redeemed %>
              <%= voucher.user %>
              <%= voucher.package %>
              <%= link_to 'Show', voucher %>
              <%= link_to 'Edit', edit_voucher_path(voucher) %>
              <%= link_to 'Destroy', voucher, method: :delete, data: { confirm: 'Are you sure?' } %>
            
          <% end %>
        </div>
      </div>
    </div>
  </div>

<%= link_to 'New Voucher', new_voucher_path %>
