  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="sport_header row" style="height: 468px;">
        <div class="col-md-12">
          <div class="clearfix"></div>
          <div class="sport_caption pull-right">
            <img src='<%= asset_path 'white_foam_finger_icon.png' %>'/>
            <span>Vouchers</span>
          </div>
        </div>
      </div>
      <!-- <div class="banner row ptb15">
        <div class="input-area row col-md-offset-1 col-md-11">
          <div class="right-inner-addon ">
            <i class="fa fa-search fa-6"></i>
            <input type="search" class="form-control" placeholder="">
          </div>
          <div class="btn-group filter_csst">
            <button class="btn btn-gray btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
              Filter<span class="caret"></span>
            </button>
            <ul class="radio_search dropdown-menu" role="menu">
              <li>
                <div class="col-md-12 mt15">
                <li class="active_p"><a href="#redeemable">Redeemable</a></li>
                <li><a href="#history"></a></li>
                  <label>
                    <input type="radio" name="iCheck" value="redeemable" class="teams_sh active_p" checked> Redeemable
                  </label>
                  <label>
                    <input type="radio" name="iCheck" value="history" class="teams_sh"> History
                  </label>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div> -->
      <div class="main-area">
        <div class="row">
          <div id='notice'>
            <%= render :partial => 'layouts/flash' , :locals => { :flash => flash } %>
          </div>
        </div>
        <div class="row sp_contents" id="redeemable">
          <ul class="list-group">
            <% if @redeemable_vouchers.any? && current_user.requested_role != "Venue" %>
              <% @redeemable_vouchers.each do |voucher| %>
                <%= render :partial => "voucher", :locals => {:voucher => voucher}   %>
              <% end %>
            <% else %>
			
              <div class="col-sm-9" style="margin-bottom: 20px;">
              <br/><br/>
                <h2 class=''>You currently have no Vouchers</h2>
              </div>
			  
			  <% if current_user.requested_role != "Sports Fan" %>
          <!-- 
				  <div class="col-sm-4">
					<%= link_to "Create Voucher", new_voucher_path, class: "btn btn-green btn-default" %>
				  </div>
          -->
			  <% end %>
			  
              <div class="col-sm-4">
                <%= link_to "Find a Watch Party", search_parties_path, class: "btn btn-green btn-default" %>
              </div>
              <div class="col-sm-4">
                <%= link_to "Create a Watch Party", new_party_path, class: "btn btn-green btn-default" %> 
              </div>
            <% end %>
          </ul>
        </div>
        <div class="row sp_contents" id="history">
          <ul class="list-group">
            <% if @history_vouchers.any? %>
              <% @history_vouchers.each do |voucher| %>
                <%= render :partial => "voucher", :locals => {:voucher => voucher}   %>
              <% end %>
            <%# else %>
              <!--h5 class='text-muted'>No Redeemed Vouchers</h5-->
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>