<div id="page-content-wrapper">
  <div class="container-fluid">

    <div class="sport_header_overlay">
      <div class="sport_caption pull-right">
        <img src='<%= asset_path 'white_foam_finger_icon.png' %>'/>
        <span>Voucher Information</span>
      </div>
    </div>
      
    <div class="sport_header  row">
    </div>
          <div class="main-area" style="color:black;">
            <div class="row">
              <div id='notice'>
                <%= render :partial => 'layouts/flash' , :locals => { :flash => flash } %>
              </div>
              <br><br>
              <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xs-offset-0 col-sm-offset-0 col-md-offset-2 col-lg-offset-2" >
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h3 class="panel-title"><%= @voucher.party.team.name %></h3>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                <div class=" col-md-12 col-lg-12 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Party</td>
                        <td><%= @voucher.party.name %>
                        <%= image_tag @voucher.party.image_url, class: 'pull-right' %></td>
                      </tr>
                      <tr>
                        <td>Team</td>
                        <td><%= @voucher.party.team.name %>
                        <%= image_tag @voucher.party.team.image_url, class: 'pull-right' %></td>
                      </tr>
                      <tr>
                        <td>Venue</td>
                        <td><%= @voucher.party.venue.name+"(#{@voucher.party.venue.address.city})" %>
                        <%= image_tag @voucher.party.venue.image_url, class: 'pull-right' %></td>
                      </tr>
                      <tr>
                        <td>Redeemed</td>
                        <td><%= @voucher.redeemed_at.to_formatted_s(:long) rescue 'Not present' %></td>
                      </tr>
                      <tr>
                        <td>User</td>
                        <td><%= @voucher.user.name %></td>
                      </tr>
                       <tr>
                        <td>Package</td>
                        <td><%= @voucher.package.name %></td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
            <span class="pull-right">
              <%= link_to 'Back', venues_path, class: "btn btn-primary" %>
            </span>
            <br><br>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>