<div style="color: black;">
<div id='notice'>
  <%= render :partial => 'layouts/flash' , :locals => { :flash => flash } %>
</div>

<h3>Voucher Information</h3>
<div id="voucher-show">
  <span id= "voucher-party-info">
    <span class="voucher-text">
		<%= @voucher.party.team.name %>
	</span>
	<br/>
    <%= image_tag @voucher.party.team.image_url %>
  </span>
  <span id="voucher-venue-info">
    <%= @voucher.party.venue.name %>
	<br/><br/>
    <%= image_tag @voucher.party.venue.image_url %>
  </span>

  <div style="clear:both;"></div>

  <div id="voucher-redeemed-info">
    <strong>Redeemed:</strong>
    <%= @voucher.redeemed_at.to_formatted_s(:long) %>
  </div>

  <div id="voucher-user-info">
    <strong>User:</strong>
    <%= @voucher.user.name %>
  </div>

  <div id="voucher-package-info">
    <strong>Package:</strong>
    <%= @voucher.package.name %>
  </div>

  <%= link_to 'Back', vouchers_path %>
</div>
</div>


